.awsui_form_tooltip_triangle-top-omit-awsui_form_tooltip_triangle-top-omit-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
}

.awsui_form_tooltip_triangle-top-omit-0 {
    display: flex;
    padding-left: 3.5px;
    padding-right: 3.5px;
}

.awsui_form_tooltip_triangle-top-omit-color-1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}