.awsui_elements_inputfield_default_disabled-awsui_elements_inputfield_default_disabled-2 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
}

.awsui_elements_inputfield_default_disabled-0 {
    display: flex;
}

.awsui_elements_inputfield_default_disabled-path-1 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 2px;
    background: rgb(234, 237, 237);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}