.awsui_page_nav_open-full-detach-symbol-awsui_page_nav_open-full-detach-symbol-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
}

.awsui_page_nav_open-full-detach-symbol-0 {
    display: flex;
}

.awsui_page_nav_open-full-detach-symbol-0-0 {
    width: 230px;
    height: 862px;
    flex-shrink: 0;
    position: relative;
}

.awsui_page_nav_open-full-detach-symbol-page_navigation_default_open-1 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.awsui_page_nav_open-full-detach-symbol-page_navigation_default_open_highlighted-row-1 {
    flex-grow: 1;
    position: absolute;
    top: 117px;
    left: 36px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}