.buttons-buttons-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 18px;
    padding-bottom: 51px;
    background: #FFFFFF;
    min-height: 100vh;
}

.buttons-0 {
    display: flex;
    padding-left: 38px;
    padding-right: 341px;
}

.buttons-dropdown-1 {
    width: 87px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-1 {
    display: flex;
    margin-top: 6px;
    padding-left: 37px;
    padding-right: 136px;
}

.buttons-path-6 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid #545B64;
}

.buttons-1-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 9.000000000000227px;
}

.buttons-6_ {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-1-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.buttons-1-0-0-1-0 {
    display: flex;
}

.buttons-fill_1 {
    width: 10px;
    height: 8px;
    flex-shrink: 0;
    border-width: 0px;
}

.buttons-path-4 {
    display: flex;
    flex-direction: column;
    margin-left: 50.99999999999977px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid #545B64;
}

.buttons-1-1-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 9.000470986594678px;
}

.buttons-6_3 {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-1-1-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.buttons-1-1-0-1-0 {
    display: flex;
}

.buttons-fill_13 {
    width: 9.999529013405436px;
    height: 8px;
    flex-shrink: 0;
    border-width: 0px;
}

.buttons-2 {
    display: flex;
    padding-left: 37px;
    padding-right: 34px;
}

.buttons-2-0 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.buttons-2-0-0 {
    display: flex;
}

.buttons-path-1 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
    border: 1px solid #AAB7B8;
}

.buttons-2-0-0-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 9.000000000000114px;
}

.buttons-6_30 {
    width: 82px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-2-0-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.buttons-2-0-0-0-0-1-0 {
    display: flex;
}

.buttons-fill_134 {
    width: 10px;
    height: 8px;
    flex-shrink: 0;
    border-width: 0px;
}

.buttons-2-0-1 {
    display: flex;
    margin-top: 10px;
}

.buttons-path-16 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 3px;
    background: rgb(250, 250, 250);
    border: 1px solid #16191F;
}

.buttons-2-0-1-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 9.000000000000114px;
}

.buttons-6_30_ {
    width: 81px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-2-0-1-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.buttons-2-0-1-0-0-1-0 {
    display: flex;
}

.buttons-fill_134-1 {
    width: 10px;
    height: 8px;
    flex-shrink: 0;
    border-width: 0px;
}

.buttons-path-2 {
    display: flex;
    flex-direction: column;
    margin-left: 36px;
    padding-top: 4px;
    padding-bottom: 4.999999999999986px;
    border-radius: 1px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.buttons-2-1-0 {
    display: flex;
    padding-left: 20px;
}

.buttons-1s {
    width: 203px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-2-1-1 {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
}

.buttons-2n {
    width: 203px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-2-1-2 {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
}

.buttons-3r {
    width: 203px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-3 {
    display: flex;
    margin-top: 10px;
    padding-left: 37px;
    padding-right: 325px;
}

.buttons-path-5 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.buttons-3-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.000470986594678px;
}

.buttons-6_30_7 {
    width: 52px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-3-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.buttons-3-0-0-1-0 {
    display: flex;
}

.buttons-fill_134-12 {
    width: 9.999529013405436px;
    height: 8px;
    flex-shrink: 0;
    border-width: 0px;
}

.buttons-4 {
    display: flex;
    margin-top: 10px;
    padding-left: 37px;
    padding-right: 310px;
}

.buttons-path-66 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 3px;
    background: rgb(234, 237, 237);
}

.buttons-4-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.000470986594678px;
}

.buttons-6_30_7_ {
    width: 65px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-4-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    padding-top: 5px;
    padding-bottom: 4px;
}

.buttons-4-0-0-1-0 {
    display: flex;
}

.buttons-fill_134-5 {
    width: 9.999529013405436px;
    height: 8px;
    flex-shrink: 0;
    border-width: 0px;
}

.buttons-5 {
    display: flex;
    margin-top: 30px;
    padding-left: 38px;
    padding-right: 371px;
}

.buttons-button-9 {
    width: 57px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-6 {
    display: flex;
    margin-top: 8px;
    padding-left: 33px;
    padding-right: 94px;
}

.buttons-path-10 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(236, 114, 17);
}

.buttons-6-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.buttons-6_2 {
    width: 51px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-9 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(235, 95, 7);
}

.buttons-6-1-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 24px;
}

.buttons-6_20 {
    width: 64px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-28 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    border: 1px solid #AAB7B8;
}

.buttons-6-2-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 21px;
}

.buttons-6_20_ {
    width: 56px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-7 {
    display: flex;
    margin-top: 10px;
    padding-left: 33px;
    padding-right: 190px;
}

.buttons-path-13 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    border: 1px solid #545B64;
}

.buttons-7-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 22px;
}

.buttons-6_20_7 {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-168 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(250, 250, 250);
    border: 1px solid #16191F;
}

.buttons-7-1-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 23px;
}

.buttons-6_20_7_ {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-8 {
    display: flex;
    margin-top: 10px;
    padding-left: 33px;
    padding-right: 120px;
}

.buttons-path-17 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgba(80, 227, 194, 0);
}

.buttons-8-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons-6_20_7_2 {
    width: 99px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-15 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(234, 237, 237);
}

.buttons-8-1-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.buttons-6_20_7_20 {
    width: 114px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-9 {
    display: flex;
    margin-top: 32px;
    padding-left: 38px;
    padding-right: 293px;
}

.buttons-button_with_icon-2 {
    width: 135px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-10 {
    display: flex;
    margin-top: 8px;
    padding-left: 33px;
    padding-right: 33px;
}

.buttons-path-160 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(236, 114, 17);
}

.buttons-10-0-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 22px;
}

.buttons-icons_actions_default-5 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-text-1 {
    width: 51px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-157 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(235, 95, 7);
}

.buttons-10-1-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 24px;
}

.buttons-icons_actions_default-9 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-primary-h-1 {
    width: 64px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-14 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    border: 1px solid #D5DBDB;
}

.buttons-10-2-0 {
    display: flex;
    padding-left: 14px;
    padding-right: 21px;
}

.buttons-icons_actions_default-6 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-disabled-8 {
    width: 57px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-11 {
    display: flex;
    margin-top: 10px;
    padding-left: 33px;
    padding-right: 145px;
}

.buttons-path-24 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    border: 1px solid #545B64;
}

.buttons-11-0-0 {
    display: flex;
    padding-left: 14px;
    padding-right: 22.000000000000114px;
}

.buttons-icons_actions_default-4 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-secondary-1 {
    width: 68px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-95 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(250, 250, 250);
    border: 1px solid #16191F;
}

.buttons-11-1-0 {
    display: flex;
    padding-left: 14px;
    padding-right: 22px;
}

.buttons-icons_actions_default-1 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-secondar-h-1 {
    width: 74px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-12 {
    display: flex;
    margin-top: 10px;
    padding-left: 33px;
    padding-right: 170px;
}

.buttons-path-954 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
}

.buttons-12-0-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 22.000000000000114px;
}

.buttons-icons_actions_default-16 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-tertiary-5 {
    width: 52px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-11 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(234, 237, 237);
}

.buttons-12-1-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 24px;
}

.buttons-icons_actions_default-15 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-tertiary-h-9 {
    width: 65px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-13 {
    display: flex;
    margin-top: 10px;
    padding-left: 33px;
    padding-right: 184px;
}

.buttons-path-179 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(236, 114, 17);
}

.buttons-13-0-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 24px;
}

.buttons-icons_actions_default-13 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-loading-4 {
    width: 50px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-path-3 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    border: 1px solid #545B64;
}

.buttons-13-1-0 {
    display: flex;
    padding-left: 14px;
    padding-right: 23.000000000000114px;
}

.buttons-icons_actions_default-11 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-loading-1 {
    width: 51px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-14 {
    display: flex;
    margin-top: 73px;
    padding-left: 40px;
    padding-right: 352px;
}

.buttons-icon_only-2 {
    width: 74px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-15 {
    display: flex;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 324px;
}

.buttons-button_icon-only-1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.buttons-button_icon-only-4 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.buttons-16 {
    display: flex;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 268px;
}

.buttons-button_icon-only_copy_3 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.buttons-button_icon-only_copy_4 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.buttons-button_icon-only-12 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.buttons-17 {
    display: flex;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 324px;
}

.buttons-button_icon-only_copy_6 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.buttons-button_icon-only_copy_7 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.buttons-18 {
    display: flex;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 373px;
}

.buttons-toggle-2 {
    width: 53px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-19 {
    display: flex;
    margin-top: 3px;
    padding-left: 43px;
    padding-right: 255px;
}

.buttons-switch-8 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.buttons-19-1 {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    padding-bottom: 1px;
}

.buttons-19-1-0 {
    display: flex;
}

.buttons-switch_turned_on-4 {
    width: 104px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-20 {
    display: flex;
    margin-top: 12px;
    padding-left: 43px;
    padding-right: 253px;
}

.buttons-switch-3 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-20-1 {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    padding-bottom: 2px;
}

.buttons-20-1-0 {
    display: flex;
}

.buttons-switch_turned_o_-9 {
    width: 106px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-21 {
    display: flex;
    margin-top: 11px;
    padding-left: 44px;
    padding-right: 188px;
}

.buttons-switch-81 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    flex-shrink: 0;
}

.buttons-21-1 {
    display: flex;
    flex-direction: column;
    margin-left: 31px;
    padding-bottom: 2px;
}

.buttons-21-1-0 {
    display: flex;
}

.buttons-switch_disabled_turned_on-3 {
    width: 171px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.buttons-22 {
    display: flex;
    margin-top: 13px;
    padding-left: 45px;
    padding-right: 186px;
}

.buttons-switch-1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.buttons-22-1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-bottom: 1px;
}

.buttons-22-1-0 {
    display: flex;
}

.buttons-switch_disabled_turned_o_-1 {
    width: 173px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}