.flashbars-flashbars-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 16px;
    padding-bottom: 25px;
    background: #FFFFFF;
    min-height: 100vh;
}

.flashbars-0 {
    display: flex;
    padding-left: 23px;
    padding-right: 23px;
}

.flashbars-path-54 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(0, 125, 188);
}

.flashbars-0-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 30px;
}

.flashbars-icon-6 {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flashbars-0-0-0-1-0 {
    display: flex;
}

.flashbars-label-1 {
    width: 146px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-0-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 650px;
    padding-top: 6px;
    padding-bottom: 7px;
}

.flashbars-0-0-0-2-0 {
    display: flex;
}

.flashbars-secondary-action-1 {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-path-5 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.flashbars-0-0-0-3-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.flashbars-6 {
    width: 52px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-close-4 {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-1 {
    display: flex;
    margin-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
}

.flashbars-path-16 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(30, 137, 0);
}

.flashbars-1-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 30px;
}

.flashbars-icon-2 {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-1-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flashbars-1-0-0-1-0 {
    display: flex;
}

.flashbars-label-15 {
    width: 146px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-1-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 650px;
    padding-top: 7px;
    padding-bottom: 6px;
}

.flashbars-1-0-0-2-0 {
    display: flex;
}

.flashbars-secondary-action-5 {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-path-1 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.flashbars-1-0-0-3-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.flashbars-6_ {
    width: 52px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-close-1 {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-2 {
    display: flex;
    margin-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
}

.flashbars-path-4 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(223, 51, 18);
}

.flashbars-2-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 30px;
}

.flashbars-icon-7 {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-2-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flashbars-2-0-0-1-0 {
    display: flex;
}

.flashbars-label-7 {
    width: 146px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-2-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 650px;
    padding-top: 7px;
    padding-bottom: 6px;
}

.flashbars-2-0-0-2-0 {
    display: flex;
}

.flashbars-secondary-action-11 {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-path-8 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.flashbars-2-0-0-3-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.flashbars-6_2 {
    width: 52px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-close-14 {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-3 {
    display: flex;
    margin-top: 10px;
    padding-left: 23px;
    padding-right: 23px;
}

.flashbars-path-6 {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background: rgb(0, 125, 188);
}

.flashbars-3-0-0 {
    display: flex;
    padding-left: 19px;
    padding-right: 30px;
}

.flashbars-icon-26 {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

.flashbars-3-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flashbars-3-0-0-1-0 {
    display: flex;
}

.flashbars-label-11 {
    width: 146px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-3-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 650px;
    padding-top: 6px;
    padding-bottom: 7px;
}

.flashbars-3-0-0-2-0 {
    display: flex;
}

.flashbars-secondary-action-12 {
    width: 68px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-path-18 {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 3px;
    background: rgb(255, 255, 255);
}

.flashbars-3-0-0-3-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.flashbars-6_20 {
    width: 52px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.flashbars-close-15 {
    display: flex;
    flex-direction: column;
    margin-left: 28px;
    padding-top: 7px;
    padding-bottom: 7px;
    flex-shrink: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}