.icons-normal-inverted-icons-normal-inverted-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 7px;
    background: #FFFFFF;
    min-height: 100vh;
}

.icons-normal-inverted-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 17px;
}

.icons-normal-inverted-icons_actions_default-inverted-2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-8 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-1 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-27 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-7 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-13 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-14 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-10 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-12 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-104 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-5 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-4 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-26 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-1 {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 43px;
}

.icons-normal-inverted-icons_actions_default-inverted-146 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-127 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-15 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-152 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-16 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-1468 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-86 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-44 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-103 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-141 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-74 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-56 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-2 {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 43px;
}

.icons-normal-inverted-icons_actions_default-inverted-17 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-3 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-6 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-34 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-165 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-32 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-11 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-148 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-37 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-47 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-167 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-inverted-icons_actions_default-inverted-59 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}