.icons-normal-icons-normal-9 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 3px;
    padding-bottom: 8px;
    background: #FFFFFF;
    min-height: 100vh;
}

.icons-normal-0 {
    display: flex;
    padding-left: 11px;
    padding-right: 21px;
}

.icons-normal-icons_actions_default-1 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-8 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-11 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-17 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-9 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-12 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-116 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-13 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-4 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-178 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-16 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-91 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-14 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-1 {
    display: flex;
    margin-top: 10px;
    padding-left: 11px;
    padding-right: 47px;
}

.icons-normal-icons_actions_default-18 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-6 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-98 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-123 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-5 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-95 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-137 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-63 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-124 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-135 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-111 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-45 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-2 {
    display: flex;
    margin-top: 10px;
    padding-left: 11px;
    padding-right: 47px;
}

.icons-normal-icons_actions_default-7 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-179 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-177 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-15 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-166 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-158 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-150 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-173 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-10 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-89 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-165 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.icons-normal-icons_actions_default-2 {
    flex-shrink: 0;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}