.input-input-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 21px;
    background: #FFFFFF;
    min-height: 100vh;
}

.input-0 {
    display: flex;
    padding-left: 2px;
    padding-right: 282px;
}

.input-path-1 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.input-1 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-1-0 {
    display: flex;
    flex-direction: column;
}

.input-1-0-0 {
    display: flex;
}

.input-1-0-0-0 {
    width: 300px;
    height: 85px;
    flex-shrink: 0;
    position: relative;
}

.input-path-4 {
    width: 300px;
    height: 45px;
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.input-path-16 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.input-1-0-0-0-1-0 {
    display: flex;
}

.input-combined-label-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-1-0-0-0-1-1 {
    display: flex;
}

.input-description-2 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-elements_inputfield_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.input-field-value-1 {
    width: 270px;
    flex-grow: 1;
    position: absolute;
    top: 45px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-constraint-4 {
    width: 300px;
    flex-grow: 1;
    position: absolute;
    top: 68px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-2 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.input-path-7 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.input-3 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-13 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6.000000000000007px;
    background: rgba(80, 227, 194, 0);
}

.input-3-0-0 {
    display: flex;
}

.input-combined-label-16 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-3-0-1 {
    display: flex;
}

.input-description-24 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-4 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-160 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.input-4-0-0 {
    display: flex;
}

.input-4-0-0-0 {
    display: flex;
    flex-direction: column;
}

.input-4-0-0-0-0 {
    display: flex;
}

.input-4-0-0-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.input-elements_inputfield_default-17 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.input-placeholder-8 {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 12px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-4-0-1 {
    display: flex;
    margin-top: 1px;
    padding-right: 124px;
}

.input-icons_actions_default-7 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.input-4-0-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-bottom: 1px;
}

.input-4-0-1-1-0 {
    display: flex;
}

.input-error_text_-1 {
    width: 56px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-4-0-1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    padding-bottom: 1px;
}

.input-4-0-1-2-0 {
    display: flex;
}

.input-error_description_-5 {
    width: 93px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-5 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.input-path-1609 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.input-6 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-9 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.input-6-0-0 {
    display: flex;
}

.input-combined-label-14 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-6-0-1 {
    display: flex;
}

.input-description-9 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-7 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-167 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.input-7-0-0 {
    display: flex;
}

.input-7-0-0-0 {
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    position: relative;
}

.input-elements_inputfield_default-8 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.input-field-value-6 {
    width: 271px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-constraint-7 {
    width: 300px;
    flex-grow: 1;
    position: absolute;
    top: 28px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-8 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.input-path-14 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.input-9 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.input-9-0-0 {
    display: flex;
}

.input-combined-label-164 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-9-0-1 {
    display: flex;
}

.input-description-4 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-10 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-19 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.input-10-0-0 {
    display: flex;
}

.input-10-0-0-0 {
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    position: relative;
}

.input-elements_inputfield_default-10 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.input-field-value-9 {
    width: 287px;
    flex-grow: 1;
    position: absolute;
    top: 4px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-constraint-6 {
    width: 300px;
    flex-grow: 1;
    position: absolute;
    top: 28px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-11 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.input-path-15 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.input-12 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-92 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.input-12-0-0 {
    display: flex;
}

.input-combined-label-12 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-12-0-1 {
    display: flex;
}

.input-description-5 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-13 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.input-path-11 {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4220779220777331px;
    background: rgba(80, 227, 194, 0);
}

.input-13-0-0 {
    display: flex;
    padding-right: 5.115907697472721e-13px;
}

.input-13-0-0-0 {
    display: flex;
    flex-direction: column;
}

.input-13-0-0-0-0 {
    display: flex;
}

.input-13-0-0-0-0-0 {
    width: 299.9999999999995px;
    height: 72.40612492245418px;
    flex-shrink: 0;
    position: relative;
}

.input-elements_inputfield_default-7 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.input-value-1 {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.input-path-18 {
    width: 8px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 66.68198051533909px;
    left: 291.18198051533955px;
    background: rgb(170, 183, 184);
}

.input-path-3 {
    width: 4px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 68.26776695296576px;
    left: 294.76776695296644px;
    background: rgb(170, 183, 184);
}

.input-13-0-1 {
    display: flex;
    margin-top: 0.17179715546808438px;
}

.input-constraint-9 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}