@import url('https://fonts.googleapis.com/css?family=Montserrat:');

.log-in_page-log-in_page-0 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
}

.log-in_page-0 {
    display: flex;
}

.log-in_page-image-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 272px;
    background-image: url('https://s3-us-west-2.amazonaws.com/figma-alpha/img/98ed/e97e/af106570c97c0eed472ffba257bee6f1');
    background-size: 100% 100%;
}

.log-in_page-0-0-0 {
    display: flex;
}

.log-in_page-0-0-0-0 {
    width: 375px;
    height: 395px;
    flex-shrink: 0;
    position: relative;
}

.log-in_page-app_info-0 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 181.5px;
    padding-bottom: 8.5px;
    position: absolute;
    top: 20px;
    left: 0px;
    background: rgba(NaN,NaN,NaN,0);
}

.log-in_page-0-0-0-0-0-0 {
    display: flex;
    padding-left: 68.3603515625px;
    padding-right: 79.6396484375px;
}

.log-in_page-0-0-0-0-0-0-0 {
    width: 227px;
    height: 185px;
    flex-shrink: 0;
    position: relative;
}

.log-in_page-your_art_museum-0 {
    width: 220px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "Montserrat", sans-serif;
    color: rgba(252,252,252,1);
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.log-in_page-1 {
    width: 226px;
    flex-grow: 1;
    position: absolute;
    top: 143px;
    left: 1px;
    font-family: "Montserrat", sans-serif;
    color: rgba(252,252,252,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.log-in_page-status_bar-0 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 2px;
    padding-bottom: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(NaN,NaN,NaN,0);
}

.log-in_page-0-0-0-0-1-0 {
    display: flex;
    padding-left: 2.6416015625px;
    padding-right: 2.3583984375px;
}

.log-in_page-0-0-0-0-1-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.log-in_page-0-0-0-0-1-0-0-0 {
    display: flex;
}

.log-in_page-frame_6 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0 {
    display: flex;
    padding-left: 3.3583984375px;
    padding-right: 26.6416015625px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-0-0 {
    display: flex;
}

.log-in_page-oval_1 {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-1-0 {
    display: flex;
}

.log-in_page-oval_1_ {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-2-0 {
    display: flex;
}

.log-in_page-oval_1_c {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-3 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-3-0 {
    display: flex;
}

.log-in_page-path-00 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(218,218,218,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-3-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.log-in_page-path-0 {
    width: 4.5px;
    height: 4.5px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-4 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-4-0 {
    display: flex;
}

.log-in_page-path-0000 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(218,218,218,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-4-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.log-in_page-path-000 {
    width: 4.5px;
    height: 4.5px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.log-in_page-figma-0 {
    width: 35px;
    flex-shrink: 0;
    margin-left: 3px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-6 {
    display: flex;
    flex-direction: column;
    margin-left: 6.5px;
    padding-top: 2.5px;
    padding-bottom: 3.5px;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-6-0 {
    display: flex;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-6-0-0 {
    display: flex;
    flex-direction: column;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-6-0-0-0 {
    display: flex;
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-6-0-0-0-0 {
    width: 12px;
    height: 5.637699127197266px;
    flex-shrink: 0;
    position: relative;
}

.log-in_page-path-00000 {
    width: 12px;
    height: 3.4071779251098633px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(252,252,252,1);
}

.log-in_page-path-000001 {
    width: 8.073974609375px;
    height: 2.6373701095581055px;
    flex-grow: 1;
    position: absolute;
    top: 3.00032901763916px;
    left: 1.9612655639648438px;
    background: rgba(252,252,252,1);
}

.log-in_page-0-0-0-0-1-0-0-0-0-0-6-1 {
    display: flex;
    margin-top: 0.3210411071777344px;
    padding-left: 3.9495162963867188px;
    padding-right: 3.9565200805664062px;
}

.log-in_page-path-000004 {
    width: 4.093963623046875px;
    height: 3.041259765625px;
    flex-shrink: 0;
    background: rgba(252,252,252,1);
}

.log-in_page-0-0-0-0-1-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 40.8583984375px;
    padding-top: 2.5px;
    padding-bottom: 0.5px;
}

.log-in_page-0-0-0-0-1-0-1-0 {
    display: flex;
}

.log-in_page-9 {
    width: 50px;
    flex-shrink: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.log-in_page-frame_8 {
    display: flex;
    flex-direction: column;
    margin-left: 71.1416015625px;
    padding-top: 2.5px;
    padding-bottom: 0.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.log-in_page-0-0-0-0-1-0-2-0 {
    display: flex;
    padding-left: 19.8583984375px;
    padding-right: 3.6416015625px;
}

.log-in_page-0-0-0-0-1-0-2-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 3px;
}

.log-in_page-0-0-0-0-1-0-2-0-0-0 {
    display: flex;
}

.log-in_page-vector_3 {
    width: 5px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(252,252,252,1);
}

.log-in_page-4 {
    width: 25px;
    flex-shrink: 0;
    margin-left: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.log-in_page-0-0-0-0-1-0-2-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.log-in_page-0-0-0-0-1-0-2-0-2-0 {
    display: flex;
}

.log-in_page-path-000002 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5263156890869141px;
    padding-bottom: 0.5263156890869141px;
    background: rgba(218,218,218,1);
}

.log-in_page-0-0-0-0-1-0-2-0-2-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.log-in_page-path-0000012 {
    display: flex;
    flex-direction: column;
    padding-top: 0.47368431091308594px;
    padding-bottom: 0.47368431091308594px;
    background: rgba(218,218,218,1);
}

.log-in_page-0-0-0-0-1-0-2-0-2-0-0-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 12px;
}

.log-in_page-charge-0 {
    width: 9px;
    height: 8px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.log-in_page-0-0-0-0-1-0-2-0-3 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5px;
    padding-top: 5.5px;
    padding-bottom: 6.035444259643555px;
}

.log-in_page-0-0-0-0-1-0-2-0-3-0 {
    display: flex;
}

.log-in_page-_-0 {
    width: 1.5px;
    height: 3.4645557403564453px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}