@import url('https://fonts.googleapis.com/css?family=Montserrat:|Montserrat:300');

.membership-membership-0 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 72px;
    background: #FFFFFF;
}

.membership-0 {
    display: flex;
}

.membership-status_bar-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-0-0-0 {
    display: flex;
    padding-left: 2.6416015625px;
    padding-right: 2.3583984375px;
}

.membership-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.membership-0-0-0-0-0 {
    display: flex;
}

.membership-frame_6 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-0-0-0-0-0-0-0 {
    display: flex;
    padding-left: 3.3583984375px;
    padding-right: 26.6416015625px;
}

.membership-0-0-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.membership-0-0-0-0-0-0-0-0-0 {
    display: flex;
}

.membership-oval_1 {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.membership-0-0-0-0-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.membership-0-0-0-0-0-0-0-1-0 {
    display: flex;
}

.membership-oval_1_ {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.membership-0-0-0-0-0-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.membership-0-0-0-0-0-0-0-2-0 {
    display: flex;
}

.membership-oval_1_c {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.membership-0-0-0-0-0-0-0-3 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.membership-0-0-0-0-0-0-0-3-0 {
    display: flex;
}

.membership-path-00 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(218,218,218,1);
}

.membership-0-0-0-0-0-0-0-3-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.membership-path-0 {
    width: 4.5px;
    height: 4.5px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.membership-0-0-0-0-0-0-0-4 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.membership-0-0-0-0-0-0-0-4-0 {
    display: flex;
}

.membership-path-0000 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(218,218,218,1);
}

.membership-0-0-0-0-0-0-0-4-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.membership-path-000 {
    width: 4.5px;
    height: 4.5px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.membership-figma-0 {
    width: 35px;
    flex-shrink: 0;
    margin-left: 3px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-0-0-0-0-0-0-0-6 {
    display: flex;
    flex-direction: column;
    margin-left: 6.5px;
    padding-top: 2.5px;
    padding-bottom: 3.5px;
}

.membership-0-0-0-0-0-0-0-6-0 {
    display: flex;
}

.membership-0-0-0-0-0-0-0-6-0-0 {
    display: flex;
    flex-direction: column;
}

.membership-0-0-0-0-0-0-0-6-0-0-0 {
    display: flex;
}

.membership-0-0-0-0-0-0-0-6-0-0-0-0 {
    width: 12px;
    height: 5.637699127197266px;
    flex-shrink: 0;
    position: relative;
}

.membership-path-00000 {
    width: 12px;
    height: 3.4071779251098633px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(252,252,252,1);
}

.membership-path-000003 {
    width: 8.073974609375px;
    height: 2.6373701095581055px;
    flex-grow: 1;
    position: absolute;
    top: 3.00032901763916px;
    left: 1.9612655639648438px;
    background: rgba(252,252,252,1);
}

.membership-0-0-0-0-0-0-0-6-1 {
    display: flex;
    margin-top: 0.3210411071777344px;
    padding-left: 3.9495162963867188px;
    padding-right: 3.9565200805664062px;
}

.membership-path-000001 {
    width: 4.093963623046875px;
    height: 3.041259765625px;
    flex-shrink: 0;
    background: rgba(252,252,252,1);
}

.membership-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 40.8583984375px;
    padding-top: 2.5px;
    padding-bottom: 0.5px;
}

.membership-0-0-0-1-0 {
    display: flex;
}

.membership-9 {
    width: 50px;
    flex-shrink: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-frame_8 {
    display: flex;
    flex-direction: column;
    margin-left: 71.1416015625px;
    padding-top: 2.5px;
    padding-bottom: 0.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-0-0-0-2-0 {
    display: flex;
    padding-left: 19.8583984375px;
    padding-right: 3.6416015625px;
}

.membership-0-0-0-2-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 3px;
}

.membership-0-0-0-2-0-0-0 {
    display: flex;
}

.membership-vector_3 {
    width: 5px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(252,252,252,1);
}

.membership-4 {
    width: 25px;
    flex-shrink: 0;
    margin-left: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-0-0-0-2-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.membership-0-0-0-2-0-2-0 {
    display: flex;
}

.membership-path-000000 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5263156890869141px;
    padding-bottom: 0.5263156890869141px;
    background: rgba(218,218,218,1);
}

.membership-0-0-0-2-0-2-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.membership-path-0000017 {
    display: flex;
    flex-direction: column;
    padding-top: 0.47368431091308594px;
    padding-bottom: 0.47368431091308594px;
    background: rgba(218,218,218,1);
}

.membership-0-0-0-2-0-2-0-0-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 12px;
}

.membership-charge-0 {
    width: 9px;
    height: 8px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.membership-0-0-0-2-0-3 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5px;
    padding-top: 5.5px;
    padding-bottom: 6.035444259643555px;
}

.membership-0-0-0-2-0-3-0 {
    display: flex;
}

.membership-_-0 {
    width: 1.5px;
    height: 3.4645557403564453px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.membership-1 {
    display: flex;
}

.membership-navigation_bar-0 {
    display: flex;
    flex-direction: column;
    padding-top: 9.5px;
    padding-bottom: 9.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-1-0-0 {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.membership-the_art_museum-0 {
    width: 50px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(0,0,0,1);
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-1-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 36.5px;
    padding-top: 11px;
    padding-bottom: 8px;
}

.membership-1-0-0-1-0 {
    display: flex;
}

.membership-become_a_member-0 {
    width: 180px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,71,58,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: CENTER;
    word-wrap: break-word;
}

.membership-1-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 60.5px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.membership-1-0-0-2-0 {
    display: flex;
}

.membership-bounds-0 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 6px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-1-0-0-2-0-0-0 {
    display: flex;
    padding-left: 3px;
    padding-right: 3px;
}

.membership-path-000004 {
    width: 18px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.membership-1-0-0-2-0-0-1 {
    display: flex;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.membership-path-000002 {
    width: 18px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.membership-1-0-0-2-0-0-2 {
    display: flex;
    margin-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
}

.membership-path-0000042 {
    width: 18px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.membership-2 {
    display: flex;
}

.membership-image-9 {
    display: flex;
    flex-direction: column;
    background-image: url('https://s3-us-west-2.amazonaws.com/figma-alpha/img/d42c/3212/fb9d76d98a7126ba2420526132c9b157');
    background-size: 100% 100%;
}

.membership-2-0-0 {
    display: flex;
}

.membership-image_thumbnail-0 {
    display: flex;
    flex-direction: column;
    padding-top: 154px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-2-0-0-0-0 {
    display: flex;
    padding-left: 13px;
    padding-right: 15px;
}

.membership-your_museum_your_bounty_of_experience_-0 {
    width: 347px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(252,252,252,1);
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-3 {
    display: flex;
}

.membership-frame_3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 43px;
    background: rgba(NaN,NaN,NaN,0);
}

.membership-3-0-0 {
    display: flex;
    padding-left: 13px;
    padding-right: 15px;
}

.membership-choose_the_membership_that_s_the_best_fit_for_you_click_on_a_level_to_view_the_full_description_of_benefits_-0 {
    width: 347px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(151,151,151,1);
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 0px;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-3-0-1 {
    display: flex;
    margin-top: 12px;
    padding-left: 34px;
    padding-right: 35.5px;
}

.membership-individual_7 {
    width: 174px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(0,0,0,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.membership-3-0-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 125.5px;
    padding-top: 7px;
    padding-bottom: 20px;
}

.membership-3-0-1-1-0 {
    display: flex;
}

.membership-vector_1 {
    width: 6px;
    height: 12px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 2px solid rgba(170,170,170,1);
}

.membership-3-0-1-1-1 {
    display: flex;
    margin-top: 47.5px;
}

.membership-vector_17 {
    width: 6px;
    height: 12px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 2px solid rgba(170,170,170,1);
}

.membership-3-0-1-1-2 {
    display: flex;
    margin-top: 47.5px;
}

.membership-vector_17-0 {
    width: 6px;
    height: 12px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 2px solid rgba(170,170,170,1);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}