@import url('https://fonts.googleapis.com/css?family=Montserrat:');

.menu-menu-0 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
}

.menu-0 {
    display: flex;
}

.menu-status_bar-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
    background: rgba(NaN,NaN,NaN,0);
}

.menu-0-0-0 {
    display: flex;
    padding-left: 2.6416015625px;
    padding-right: 2.3583984375px;
}

.menu-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.menu-0-0-0-0-0 {
    display: flex;
}

.menu-frame_6 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.menu-0-0-0-0-0-0-0 {
    display: flex;
    padding-left: 3.3583984375px;
    padding-right: 26.6416015625px;
}

.menu-0-0-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.menu-0-0-0-0-0-0-0-0-0 {
    display: flex;
}

.menu-oval_1 {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.menu-0-0-0-0-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.menu-0-0-0-0-0-0-0-1-0 {
    display: flex;
}

.menu-oval_1_ {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.menu-0-0-0-0-0-0-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.menu-0-0-0-0-0-0-0-2-0 {
    display: flex;
}

.menu-oval_1_c {
    width: 5.5px;
    height: 5.5px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.menu-0-0-0-0-0-0-0-3 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.menu-0-0-0-0-0-0-0-3-0 {
    display: flex;
}

.menu-path-00 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(218,218,218,1);
}

.menu-0-0-0-0-0-0-0-3-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.menu-path-0 {
    width: 4.5px;
    height: 4.5px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.menu-0-0-0-0-0-0-0-4 {
    display: flex;
    flex-direction: column;
    margin-left: 1.5px;
    padding-top: 4.5px;
    padding-bottom: 5px;
}

.menu-0-0-0-0-0-0-0-4-0 {
    display: flex;
}

.menu-path-0000 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5px;
    padding-bottom: 0.5px;
    background: rgba(218,218,218,1);
}

.menu-0-0-0-0-0-0-0-4-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.menu-path-000 {
    width: 4.5px;
    height: 4.5px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
}

.menu-figma-0 {
    width: 35px;
    flex-shrink: 0;
    margin-left: 3px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-0-0-0-0-0-0-0-6 {
    display: flex;
    flex-direction: column;
    margin-left: 6.5px;
    padding-top: 2.5px;
    padding-bottom: 3.5px;
}

.menu-0-0-0-0-0-0-0-6-0 {
    display: flex;
}

.menu-0-0-0-0-0-0-0-6-0-0 {
    display: flex;
    flex-direction: column;
}

.menu-0-0-0-0-0-0-0-6-0-0-0 {
    display: flex;
}

.menu-0-0-0-0-0-0-0-6-0-0-0-0 {
    width: 12px;
    height: 5.637699127197266px;
    flex-shrink: 0;
    position: relative;
}

.menu-path-00000 {
    width: 12px;
    height: 3.4071779251098633px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(252,252,252,1);
}

.menu-path-000002 {
    width: 8.073974609375px;
    height: 2.6373701095581055px;
    flex-grow: 1;
    position: absolute;
    top: 3.00032901763916px;
    left: 1.9612655639648438px;
    background: rgba(252,252,252,1);
}

.menu-0-0-0-0-0-0-0-6-1 {
    display: flex;
    margin-top: 0.3210411071777344px;
    padding-left: 3.9495162963867188px;
    padding-right: 3.9565200805664062px;
}

.menu-path-0000026 {
    width: 4.093963623046875px;
    height: 3.041259765625px;
    flex-shrink: 0;
    background: rgba(252,252,252,1);
}

.menu-0-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 40.8583984375px;
    padding-top: 2.5px;
    padding-bottom: 0.5px;
}

.menu-0-0-0-1-0 {
    display: flex;
}

.menu-9 {
    width: 50px;
    flex-shrink: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-frame_8 {
    display: flex;
    flex-direction: column;
    margin-left: 71.1416015625px;
    padding-top: 2.5px;
    padding-bottom: 0.5px;
    background: rgba(NaN,NaN,NaN,0);
}

.menu-0-0-0-2-0 {
    display: flex;
    padding-left: 19.8583984375px;
    padding-right: 3.6416015625px;
}

.menu-0-0-0-2-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 3px;
}

.menu-0-0-0-2-0-0-0 {
    display: flex;
}

.menu-vector_3 {
    width: 5px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(252,252,252,1);
}

.menu-4 {
    width: 25px;
    flex-shrink: 0;
    margin-left: 5px;
    font-family: Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,1);
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-0-0-0-2-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 3px;
}

.menu-0-0-0-2-0-2-0 {
    display: flex;
}

.menu-path-0000027 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5263156890869141px;
    padding-bottom: 0.5263156890869141px;
    background: rgba(218,218,218,1);
}

.menu-0-0-0-2-0-2-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 0.5px;
}

.menu-path-000000 {
    display: flex;
    flex-direction: column;
    padding-top: 0.47368431091308594px;
    padding-bottom: 0.47368431091308594px;
    background: rgba(218,218,218,1);
}

.menu-0-0-0-2-0-2-0-0-0-0-0 {
    display: flex;
    padding-left: 0.5px;
    padding-right: 12px;
}

.menu-charge-0 {
    width: 9px;
    height: 8px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.menu-0-0-0-2-0-3 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5px;
    padding-top: 5.5px;
    padding-bottom: 6.035444259643555px;
}

.menu-0-0-0-2-0-3-0 {
    display: flex;
}

.menu-_-0 {
    width: 1.5px;
    height: 3.4645557403564453px;
    flex-shrink: 0;
    background: rgba(255,255,255,1);
}

.menu-1 {
    display: flex;
    padding-right: 55px;
}

.menu-menu_side_bar-0 {
    display: flex;
    flex-direction: column;
    background: rgba(NaN,NaN,NaN,0);
}

.menu-1-0-0 {
    display: flex;
    padding-right: 10px;
}

.menu-background-0 {
    display: flex;
    flex-direction: column;
    padding-bottom: 262px;
    box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.25098039215686274);
    background: rgba(255,71,58,1);
}

.menu-1-0-0-0-0 {
    display: flex;
}

.menu-search_navigation_bar-0 {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    background: rgba(NaN,NaN,NaN,0);
}

.menu-1-0-0-0-0-0-0 {
    display: flex;
    padding-left: 13.023448808544345px;
    padding-right: 25.814208984375px;
}

.menu-1-0-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
    padding-bottom: 6.715696771966691px;
}

.menu-1-0-0-0-0-0-0-0-0 {
    display: flex;
}

.menu-ellipse-0 {
    width: 28.284286538719243px;
    height: 28.28430322803331px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(255,255,255,1);
}

.menu-rectangle-0 {
    display: flex;
    flex-direction: column;
    margin-left: 17.878055668361412px;
    padding-top: 8px;
    padding-bottom: 8px;
    background: rgba(NaN,NaN,NaN,0);
    border: 2px solid rgba(252,252,252,1);
}

.menu-1-0-0-0-0-0-0-1-0 {
    display: flex;
    padding-left: 11.061531066894531px;
    padding-right: 137.14434814453125px;
}

.menu-search-0 {
    width: 72.79412078857422px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-1-0-0-0-1 {
    display: flex;
    margin-top: 24px;
    padding-left: 18.185791015625px;
    padding-right: 65px;
}

.menu-1-0-0-0-1-0 {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
}

.menu-1-0-0-0-1-0-0 {
    display: flex;
}

.menu-rectangle_3 {
    width: 24px;
    height: 26px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(255,255,255,1);
}

.menu-1-0-0-0-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 20.814208984375px;
    padding-bottom: 7px;
}

.menu-1-0-0-0-1-1-0 {
    display: flex;
}

.menu-exhibitions_events-0 {
    width: 182px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-1-0-0-0-2 {
    display: flex;
    margin-top: 25px;
    padding-left: 19.185791015625px;
    padding-right: 59px;
}

.menu-1-0-0-0-2-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
}

.menu-1-0-0-0-2-0-0 {
    display: flex;
}

.menu-ellipse_1 {
    width: 23px;
    height: 21px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(255,255,255,1);
}

.menu-1-0-0-0-2-1 {
    display: flex;
    flex-direction: column;
    margin-left: 20.814208984375px;
    padding-bottom: 1px;
}

.menu-1-0-0-0-2-1-0 {
    display: flex;
}

.menu-artists_artworks-0 {
    width: 188px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-1-0-0-0-3 {
    display: flex;
    margin-top: 32px;
    padding-left: 22px;
    padding-right: 114px;
}

.menu-1-0-0-0-3-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 3px;
}

.menu-1-0-0-0-3-0-0 {
    display: flex;
}

.menu-collections-0 {
    width: 15px;
    height: 17px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(255,255,255,1);
}

.menu-collections-00 {
    width: 133px;
    flex-shrink: 0;
    margin-left: 26px;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-1-0-0-0-4 {
    display: flex;
    margin-top: 32px;
    padding-left: 18.185791015625px;
    padding-right: 117px;
}

.menu-1-0-0-0-4-0 {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
    padding-bottom: 4px;
}

.menu-1-0-0-0-4-0-0 {
    display: flex;
}

.menu-subtract-0 {
    width: 24px;
    height: 14px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(255,255,255,1);
}

.menu-plan_your_visit-0 {
    width: 130px;
    flex-shrink: 0;
    margin-left: 20.814208984375px;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-1-0-0-0-5 {
    display: flex;
    margin-top: 33px;
    padding-left: 15.185791015625px;
    padding-right: 77px;
}

.menu-1-0-0-0-5-0 {
    display: flex;
    flex-direction: column;
    padding-top: 3px;
    padding-bottom: 1px;
}

.menu-1-0-0-0-5-0-0 {
    display: flex;
}

.menu-rectangle_2 {
    width: 30px;
    height: 18px;
    flex-shrink: 0;
    background: rgba(NaN,NaN,NaN,0);
    border: 1px solid rgba(255,255,255,1);
}

.menu-become_a_member-0 {
    width: 170px;
    flex-shrink: 0;
    margin-left: 17.814208984375px;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

.menu-1-0-0-0-6 {
    display: flex;
    margin-top: 25.229217529296875px;
    padding-left: 18px;
    padding-right: 200px;
}

.menu-shop-0 {
    width: 23px;
    height: 28.770782470703125px;
    flex-shrink: 0;
    background: rgba(218,218,218,1);
    border: 1px solid rgba(255,255,255,1);
}

.menu-1-0-0-0-6-1 {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    padding-top: 6.770782470703125px;
}

.menu-1-0-0-0-6-1-0 {
    display: flex;
}

.menu-shop-00 {
    width: 47px;
    flex-shrink: 0;
    font-family: "Montserrat", sans-serif;
    color: rgba(255,255,255,1);
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: LEFT;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}