.multi-select-multi-select-9 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 15px;
    background: #FFFFFF;
    min-height: 100vh;
}

.multi-select-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 307px;
}

.multi-select-path-5 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.multi-select-1 {
    display: flex;
    padding-left: 20px;
    padding-right: 27px;
}

.multi-select-path-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.multi-select-1-0-0 {
    display: flex;
}

.multi-select-combined-label-5 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-1-0-1 {
    display: flex;
}

.multi-select-description-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-2 {
    display: flex;
    padding-left: 20px;
    padding-right: 27px;
}

.multi-select-2-0 {
    display: flex;
    flex-direction: column;
}

.multi-select-2-0-0 {
    display: flex;
}

.multi-select-2-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.multi-select-elements_inputfield_default-5 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.multi-select-field-value-3 {
    width: 264px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-icons_actions_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 274px;
    display: flex;
    flex-direction: column;
}

.multi-select-3 {
    display: flex;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 227px;
}

.multi-select-path-10 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 6px;
    border-radius: 2px;
    background: rgb(246, 252, 255);
    border: 1px solid #007DBC;
}

.multi-select-3-0-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 3.9999999999998863px;
}

.multi-select-6_ {
    width: 60px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-delete_icon-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
    padding-top: 1px;
    flex-shrink: 0;
}

.multi-select-4 {
    display: flex;
    margin-top: 1px;
    padding-left: 20px;
    padding-right: 27px;
}

.multi-select-constraint-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-5 {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 307px;
}

.multi-select-path-8 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.multi-select-6 {
    display: flex;
    padding-left: 20px;
    padding-right: 27px;
}

.multi-select-path-12 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.multi-select-6-0-0 {
    display: flex;
}

.multi-select-combined-label-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-6-0-1 {
    display: flex;
}

.multi-select-description-4 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-7 {
    display: flex;
    padding-left: 20px;
    padding-right: 27px;
}

.multi-select-7-0 {
    display: flex;
    flex-direction: column;
}

.multi-select-7-0-0 {
    display: flex;
}

.multi-select-7-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.multi-select-elements_inputfield_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.multi-select-field-value-1 {
    width: 258px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-icons_actions_default-12 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 278px;
    display: flex;
    flex-direction: column;
}

.multi-select-8 {
    display: flex;
    padding-left: 20px;
    padding-right: 27px;
}

.multi-select-8-0 {
    display: flex;
    flex-direction: column;
}

.multi-select-8-0-0 {
    display: flex;
}

.multi-select-8-0-0-0 {
    width: 300px;
    height: 325px;
    flex-shrink: 0;
    position: relative;
}

.multi-select-path-136 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 31px;
    padding-bottom: 58px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
    border: 1px solid #879196;
}

.multi-select-8-0-0-0-0-0 {
    display: flex;
}

.multi-select-8-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
}

.multi-select-8-0-0-0-0-0-0-0 {
    display: flex;
}

.multi-select-8-0-0-0-0-0-0-0-0 {
    width: 298px;
    height: 81px;
    flex-shrink: 0;
    position: relative;
}

.multi-select-path-13 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4.093012841796735px;
    position: absolute;
    top: 30px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.multi-select-8-0-0-0-0-0-0-0-0-0-0 {
    display: flex;
    padding-left: 29px;
    padding-right: 8px;
}

.multi-select-1-v {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-0-0-0-0-0-1 {
    display: flex;
    margin-top: 4px;
    padding-left: 29px;
    padding-right: 8px;
}

.multi-select-1-d {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-0-0-0-0-0-2 {
    display: flex;
    margin-top: 6.906987158203265px;
}

.multi-select-path-14 {
    width: 298px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.multi-select-path-129 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 7px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.multi-select-8-0-0-0-0-0-0-0-0-1-0 {
    display: flex;
    padding-left: 10px;
    padding-right: 13px;
}

.multi-select-option_group_headlin-1 {
    width: 275px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-0-0-0-0-1-1 {
    display: flex;
    margin-top: 8px;
}

.multi-select-path-11 {
    width: 298px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.multi-select-8-0-0-0-0-1 {
    display: flex;
}

.multi-select-path-16 {
    display: flex;
    flex-direction: column;
    padding-top: 3.0930128417967353px;
    padding-bottom: 6.906987158203265px;
    border-radius: 2px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.multi-select-8-0-0-0-0-1-0-0 {
    display: flex;
    padding-left: 28px;
    padding-right: 7px;
}

.multi-select-1-va {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-1-0-1 {
    display: flex;
    margin-top: 4px;
    padding-left: 28px;
    padding-right: 7px;
}

.multi-select-1-de {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-2 {
    display: flex;
}

.multi-select-path-7 {
    display: flex;
    flex-direction: column;
    padding-top: 4.093012841796735px;
    background: rgba(80, 227, 194, 0);
}

.multi-select-8-0-0-0-0-2-0-0 {
    display: flex;
    padding-left: 29px;
    padding-right: 8px;
}

.multi-select-1-val {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-2-0-1 {
    display: flex;
    margin-top: 4px;
    padding-left: 29px;
    padding-right: 8px;
}

.multi-select-1-des {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-2-0-2 {
    display: flex;
    margin-top: 6.906987158203265px;
}

.multi-select-path-102 {
    width: 298px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.multi-select-8-0-0-0-0-3 {
    display: flex;
}

.multi-select-path-6 {
    display: flex;
    flex-direction: column;
    padding-top: 4.093012841796735px;
    background: rgba(80, 227, 194, 0);
}

.multi-select-8-0-0-0-0-3-0-0 {
    display: flex;
    padding-left: 29px;
    padding-right: 8px;
}

.multi-select-1-valu {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-3-0-1 {
    display: flex;
    margin-top: 4px;
    padding-left: 29px;
    padding-right: 8px;
}

.multi-select-1-desc {
    width: 261px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.multi-select-8-0-0-0-0-3-0-2 {
    display: flex;
    margin-top: 6.906987158203265px;
}

.multi-select-path-71 {
    width: 298px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.multi-select-path-120 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(245, 252, 255, 0);
    border: 1px solid #007DBC;
}

.multi-select-8-0-0-0-1-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 263.0000000000001px;
}

.multi-select-icons_actions_default-3 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 2px;
    flex-shrink: 0;
}

.multi-select-path-169 {
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    margin-left: 9px;
    background: rgb(84, 91, 100);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}