.radio-buttons-radio-buttons-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 21px;
    background: #FFFFFF;
    min-height: 100vh;
}

.radio-buttons-0 {
    display: flex;
    padding-left: 32px;
    padding-right: 366px;
}

.radio-buttons-radio_button-1 {
    width: 106px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-1 {
    display: flex;
    margin-top: 6px;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-7 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-1-0-0 {
    display: flex;
}

.radio-buttons-1-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-1-0-0-0-0 {
    display: flex;
}

.radio-buttons-group_2 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-9 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-2 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-1 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-2-0-0 {
    display: flex;
}

.radio-buttons-2-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-2-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-7 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-1 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-3 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-3-0-0 {
    display: flex;
}

.radio-buttons-3-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-3-0-0-0-0 {
    display: flex;
}

.radio-buttons-oval-3 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-6 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-4 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-5 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-4-0-0 {
    display: flex;
}

.radio-buttons-4-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-4-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-1 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-11 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-5 {
    display: flex;
    margin-top: 33px;
    padding-left: 34px;
    padding-right: 170px;
}

.radio-buttons-path-4 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-5-0-0 {
    display: flex;
    padding-right: 23px;
}

.radio-buttons-5-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-5-0-0-0-0 {
    display: flex;
}

.radio-buttons-group_2-3 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-5-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-5-0-0-1-0 {
    display: flex;
}

.radio-buttons-5-0-0-1-0-0 {
    width: 254px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-66 {
    width: 237px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-1 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-6 {
    display: flex;
    padding-left: 34px;
    padding-right: 170px;
}

.radio-buttons-path-12 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-6-0-0 {
    display: flex;
    padding-right: 17px;
}

.radio-buttons-6-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-6-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-78 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-6-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-6-0-0-1-0 {
    display: flex;
}

.radio-buttons-6-0-0-1-0-0 {
    width: 260px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-5 {
    width: 260px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-15 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-7 {
    display: flex;
    padding-left: 34px;
    padding-right: 170px;
}

.radio-buttons-path-8 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-7-0-0 {
    display: flex;
    padding-right: 17px;
}

.radio-buttons-7-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-7-0-0-0-0 {
    display: flex;
}

.radio-buttons-oval-5 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-7-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-7-0-0-1-0 {
    display: flex;
}

.radio-buttons-7-0-0-1-0-0 {
    width: 260px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-10 {
    width: 260px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-13 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-8 {
    display: flex;
    padding-left: 34px;
    padding-right: 170px;
}

.radio-buttons-path-41 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-8-0-0 {
    display: flex;
    padding-right: 17px;
}

.radio-buttons-8-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-8-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-5 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-8-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-8-0-0-1-0 {
    display: flex;
}

.radio-buttons-8-0-0-1-0-0 {
    width: 260px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-18 {
    width: 260px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-17 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-9 {
    display: flex;
    margin-top: 67px;
    padding-left: 32px;
    padding-right: 452px;
}

.radio-buttons-path-9 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-10 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-6 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-10-0-0 {
    display: flex;
}

.radio-buttons-combined-label-3 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-10-0-1 {
    display: flex;
}

.radio-buttons-description-6 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-11 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-14 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-11-0-0 {
    display: flex;
}

.radio-buttons-11-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-11-0-0-0-0 {
    display: flex;
}

.radio-buttons-group_2-1 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-90 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-12 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-34 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-12-0-0 {
    display: flex;
}

.radio-buttons-12-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-12-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-55 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-12 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-13 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-17 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-13-0-0 {
    display: flex;
}

.radio-buttons-13-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-13-0-0-0-0 {
    display: flex;
}

.radio-buttons-oval-1 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-3 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-14 {
    display: flex;
    padding-left: 32px;
    padding-right: 189px;
}

.radio-buttons-path-2 {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-14-0-0 {
    display: flex;
}

.radio-buttons-14-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 4px;
}

.radio-buttons-14-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-19 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-label-102 {
    width: 260px;
    flex-shrink: 0;
    margin-left: 9px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-15 {
    display: flex;
    margin-top: 20px;
    padding-left: 32px;
    padding-right: 452px;
}

.radio-buttons-path-90 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-16 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-20 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-16-0-0 {
    display: flex;
}

.radio-buttons-combined-label-6 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-16-0-1 {
    display: flex;
}

.radio-buttons-description-69 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-17 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-25 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-17-0-0 {
    display: flex;
    padding-right: 23px;
}

.radio-buttons-17-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-17-0-0-0-0 {
    display: flex;
}

.radio-buttons-group_2-16 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-17-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-17-0-0-1-0 {
    display: flex;
}

.radio-buttons-17-0-0-1-0-0 {
    width: 254px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-98 {
    width: 237px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-6 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-18 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-10 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-18-0-0 {
    display: flex;
    padding-right: 17px;
}

.radio-buttons-18-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-18-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-13 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-18-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-18-0-0-1-0 {
    display: flex;
}

.radio-buttons-18-0-0-1-0-0 {
    width: 260px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-8 {
    width: 260px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-12 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-19 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-94 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-19-0-0 {
    display: flex;
    padding-right: 17px;
}

.radio-buttons-19-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-19-0-0-0-0 {
    display: flex;
}

.radio-buttons-oval-14 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-19-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-19-0-0-1-0 {
    display: flex;
}

.radio-buttons-19-0-0-1-0-0 {
    width: 260px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-38 {
    width: 260px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-65 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-20 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-44 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.5px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-20-0-0 {
    display: flex;
    padding-right: 17px;
}

.radio-buttons-20-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 15.5px;
}

.radio-buttons-20-0-0-0-0 {
    display: flex;
}

.radio-buttons-circle-16 {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    border-width: 0px;
}

.radio-buttons-20-0-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}

.radio-buttons-20-0-0-1-0 {
    display: flex;
}

.radio-buttons-20-0-0-1-0-0 {
    width: 260px;
    height: 31.5px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-label-82 {
    width: 260px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-constraint-14 {
    width: 254px;
    flex-grow: 1;
    position: absolute;
    top: 16.5px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-21 {
    display: flex;
    margin-top: 20px;
    padding-left: 32px;
    padding-right: 452px;
}

.radio-buttons-path-13 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-22 {
    display: flex;
    padding-left: 32px;
    padding-right: 172px;
}

.radio-buttons-path-70 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.radio-buttons-22-0-0 {
    display: flex;
}

.radio-buttons-combined-label-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-22-0-1 {
    display: flex;
}

.radio-buttons-description-9 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-23 {
    display: flex;
    padding-left: 32px;
    padding-right: 42px;
}

.radio-buttons-path-73 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 5px;
    border-radius: 1px;
    background: rgb(246, 252, 255);
    border: 1px solid #007DBC;
}

.radio-buttons-23-0-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 12px;
}

.radio-buttons-23-0-0-0 {
    width: 187px;
    height: 32px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-radio-button-1 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.radio-buttons-description-2 {
    width: 164px;
    flex-grow: 1;
    position: absolute;
    top: 17px;
    left: 23px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.radio-buttons-path-92 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 6px;
    padding-bottom: 5px;
    border-radius: 1px;
    background: rgb(255, 255, 255);
    border: 1px solid #AAB7B8;
}

.radio-buttons-23-1-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 11.842271293375461px;
}

.radio-buttons-23-1-0-0 {
    width: 187.15772870662454px;
    height: 32px;
    flex-shrink: 0;
    position: relative;
}

.radio-buttons-radio-button-3 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.radio-buttons-description-1 {
    width: 164.15772870662454px;
    flex-grow: 1;
    position: absolute;
    top: 17px;
    left: 23px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}