.selects-selects-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 21px;
    background: #FFFFFF;
    min-height: 100vh;
}

.selects-0 {
    display: flex;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-1 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-1 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-1-0 {
    display: flex;
    flex-direction: column;
}

.selects-1-0-0 {
    display: flex;
}

.selects-1-0-0-0 {
    width: 300px;
    height: 70px;
    flex-shrink: 0;
    position: relative;
}

.selects-path-17 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.selects-1-0-0-0-0-0 {
    display: flex;
}

.selects-combined-label-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-1-0-0-0-0-1 {
    display: flex;
}

.selects-description-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-elements_inputfield_default-6 {
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-3 {
    width: 264px;
    flex-grow: 1;
    position: absolute;
    top: 45px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-5 {
    flex-grow: 1;
    position: absolute;
    top: 47px;
    left: 274px;
    display: flex;
    flex-direction: column;
}

.selects-2 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-constraint-7 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-3 {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-170 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-4 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-11 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6.000000000000007px;
    background: rgba(80, 227, 194, 0);
}

.selects-4-0-0 {
    display: flex;
}

.selects-combined-label-8 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-4-0-1 {
    display: flex;
}

.selects-description-11 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-5 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-5-0 {
    display: flex;
    flex-direction: column;
}

.selects-5-0-0 {
    display: flex;
}

.selects-5-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-4 {
    width: 264px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-4 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 274px;
    display: flex;
    flex-direction: column;
}

.selects-6 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-constraint-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-7 {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-10 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-8 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-14 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.selects-8-0-0 {
    display: flex;
}

.selects-combined-label-11 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-8-0-1 {
    display: flex;
}

.selects-description-9 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-9 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-107 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.selects-9-0-0 {
    display: flex;
}

.selects-9-0-0-0 {
    display: flex;
    flex-direction: column;
}

.selects-9-0-0-0-0 {
    display: flex;
}

.selects-9-0-0-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-7 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-placeholder-3 {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 12px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-3 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 274px;
    display: flex;
    flex-direction: column;
}

.selects-9-0-1 {
    display: flex;
    margin-top: 1px;
    padding-right: 124px;
}

.selects-icons_actions_default-2 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.selects-9-0-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-bottom: 1px;
}

.selects-9-0-1-1-0 {
    display: flex;
}

.selects-error_text_-1 {
    width: 56px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-9-0-1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    padding-bottom: 1px;
}

.selects-9-0-1-2-0 {
    display: flex;
}

.selects-error_description_-1 {
    width: 93px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-10 {
    display: flex;
    margin-top: 10px;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-15 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-11 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-176 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.selects-11-0-0 {
    display: flex;
}

.selects-combined-label-87 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-11-0-1 {
    display: flex;
}

.selects-description-115 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-12 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-12-0 {
    display: flex;
    flex-direction: column;
}

.selects-12-0-0 {
    display: flex;
}

.selects-12-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-15 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-1 {
    width: 264px;
    flex-grow: 1;
    position: absolute;
    top: 4px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 6px;
    left: 274px;
    display: flex;
    flex-direction: column;
}

.selects-13 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-constraint-13 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-14 {
    display: flex;
    margin-top: 8px;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-153 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-15 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-116 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.selects-15-0-0 {
    display: flex;
}

.selects-combined-label-14 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-15-0-1 {
    display: flex;
}

.selects-description-6 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-16 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-16-0 {
    display: flex;
    flex-direction: column;
}

.selects-16-0-0 {
    display: flex;
}

.selects-16-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-153 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-2 {
    width: 258px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-10 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 278px;
    display: flex;
    flex-direction: column;
}

.selects-17 {
    display: flex;
    padding-left: 15px;
    padding-right: 31.999999999999886px;
}

.selects-17-0 {
    display: flex;
    flex-direction: column;
}

.selects-17-0-0 {
    display: flex;
}

.selects-17-0-0-0 {
    width: 300.0000000000001px;
    height: 61px;
    flex-shrink: 0;
    position: relative;
}

.selects-path-12 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 29px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
    border: 1px solid #879196;
}

.selects-17-0-0-0-0-0 {
    display: flex;
}

.selects-path-7 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
    background: rgba(80, 227, 194, 0);
}

.selects-17-0-0-0-0-0-0-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
}

.selects-1-v {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-8 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 1px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.selects-17-0-0-0-1-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9.000000000000114px;
}

.selects-1-va {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-82 {
    width: 298px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 59.205882352940534px;
    left: 1px;
    background: rgb(234, 237, 237);
}

.selects-18 {
    display: flex;
    margin-top: 9px;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-13 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-19 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-4 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.selects-19-0-0 {
    display: flex;
}

.selects-combined-label-19 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-19-0-1 {
    display: flex;
}

.selects-description-5 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-20 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-20-0 {
    display: flex;
    flex-direction: column;
}

.selects-20-0-0 {
    display: flex;
}

.selects-20-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-14 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-9 {
    width: 258px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-108 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 278px;
    display: flex;
    flex-direction: column;
}

.selects-21 {
    display: flex;
    padding-left: 15px;
    padding-right: 31.999999999999886px;
}

.selects-21-0 {
    display: flex;
    flex-direction: column;
}

.selects-21-0-0 {
    display: flex;
}

.selects-21-0-0-0 {
    width: 300.0000000000001px;
    height: 91px;
    flex-shrink: 0;
    position: relative;
}

.selects-path-73 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 44px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
    border: 1px solid #879196;
}

.selects-21-0-0-0-0-0 {
    display: flex;
}

.selects-path-150 {
    display: flex;
    flex-direction: column;
    padding-top: 4.093012841796735px;
    padding-bottom: 5.906987158203265px;
    background: rgba(80, 227, 194, 0);
}

.selects-21-0-0-0-0-0-0-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
}

.selects-1-val {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-21-0-0-0-0-0-0-1 {
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
}

.selects-1-d {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-152 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 3px;
    padding-bottom: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 1px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.selects-21-0-0-0-1-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9.000000000000114px;
}

.selects-1-valu {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-21-0-0-0-1-1 {
    display: flex;
    padding-left: 9px;
    padding-right: 9.000000000000114px;
}

.selects-1-de {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-174 {
    width: 298px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 89.05882352941262px;
    left: 1px;
    background: rgb(234, 237, 237);
}

.selects-path-109 {
    width: 298px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 44.05882352941262px;
    left: 1px;
    background: rgb(234, 237, 237);
}

.selects-22 {
    display: flex;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-9 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-23 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-3 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.selects-23-0-0 {
    display: flex;
}

.selects-combined-label-80 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-23-0-1 {
    display: flex;
}

.selects-description-15 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-24 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-24-0 {
    display: flex;
    flex-direction: column;
}

.selects-24-0-0 {
    display: flex;
}

.selects-24-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-12 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-34 {
    width: 258px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-36 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 278px;
    display: flex;
    flex-direction: column;
}

.selects-25 {
    display: flex;
    padding-left: 15px;
    padding-right: 31.999999999999886px;
}

.selects-25-0 {
    display: flex;
    flex-direction: column;
}

.selects-25-0-0 {
    display: flex;
}

.selects-25-0-0-0 {
    width: 300.0000000000001px;
    height: 90px;
    flex-shrink: 0;
    position: relative;
}

.selects-path-178 {
    width: 300px;
    height: 90px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
    border: 1px solid #879196;
}

.selects-path-117 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(245, 252, 255, 0);
    border: 2px solid #007DBC;
}

.selects-25-0-0-0-1-0 {
    display: flex;
    padding-left: 8px;
    padding-right: 262.0000000000001px;
}

.selects-icons_actions_default-6 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 2px;
    flex-shrink: 0;
}

.selects-path-151 {
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    margin-left: 9px;
    background: rgb(84, 91, 100);
}

.selects-path-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 60px;
    left: 0px;
    border-radius: 1px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.selects-25-0-0-0-2-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9.000000000000114px;
}

.selects-1-value {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-16 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 5px;
    padding-bottom: 5px;
    position: absolute;
    top: 31px;
    left: 1px;
    background: rgba(80, 227, 194, 0);
}

.selects-25-0-0-0-3-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
}

.selects-1-value-1 {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-26 {
    display: flex;
    padding-left: 15px;
    padding-right: 312px;
}

.selects-path-96 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-27 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-path-179 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.selects-27-0-0 {
    display: flex;
}

.selects-combined-label-199 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-27-0-1 {
    display: flex;
}

.selects-description-14 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-28 {
    display: flex;
    padding-left: 15px;
    padding-right: 32px;
}

.selects-28-0 {
    display: flex;
    flex-direction: column;
}

.selects-28-0-0 {
    display: flex;
}

.selects-28-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.selects-elements_inputfield_default-9 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-field-value-7 {
    width: 258px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-icons_actions_default-13 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 278px;
    display: flex;
    flex-direction: column;
}

.selects-29 {
    display: flex;
    padding-left: 15px;
    padding-right: 31.999999999999886px;
}

.selects-29-0 {
    display: flex;
    flex-direction: column;
}

.selects-29-0-0 {
    display: flex;
}

.selects-29-0-0-0 {
    width: 300.0000000000001px;
    height: 120px;
    flex-shrink: 0;
    position: relative;
}

.selects-path-106 {
    width: 300px;
    height: 120px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
    border: 1px solid #879196;
}

.selects-path-5 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 3px;
    padding-bottom: 5px;
    position: absolute;
    top: 75px;
    left: 0px;
    border-radius: 1px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.selects-29-0-0-0-1-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9.000000000000114px;
}

.selects-1-value-16 {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-29-0-0-0-1-1 {
    display: flex;
    padding-left: 9px;
    padding-right: 9.000000000000114px;
}

.selects-1-des {
    width: 280px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-149 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4.093012841796735px;
    padding-bottom: 6px;
    position: absolute;
    top: 31px;
    left: 1px;
    background: rgba(80, 227, 194, 0);
}

.selects-29-0-0-0-2-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 9px;
}

.selects-29-0-0-0-2-0-0 {
    width: 280px;
    height: 34.906987158203265px;
    flex-shrink: 0;
    position: relative;
}

.selects-1-value-5 {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-1-desc {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 19.906987158203265px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-path-163 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 4px;
    padding-bottom: 4px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(245, 252, 255, 0);
    border: 2px solid #007DBC;
}

.selects-29-0-0-0-3-0 {
    display: flex;
    padding-left: 8px;
    padding-right: 262.0000000000001px;
}

.selects-icons_actions_default-16 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 2px;
    flex-shrink: 0;
}

.selects-path-1765 {
    width: 1px;
    height: 19px;
    flex-shrink: 0;
    margin-left: 9px;
    background: rgb(84, 91, 100);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}