.selects-mega-selects-mega-7 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 16px;
    background: #FFFFFF;
    min-height: 100vh;
}

.selects-mega-0 {
    display: flex;
    padding-left: 17px;
    padding-right: 1500px;
}

.selects-mega-path-4 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-mega-1 {
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
}

.selects-mega-1-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-1-0-0 {
    display: flex;
}

.selects-mega-1-0-0-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-1-0-0-0-0 {
    display: flex;
}

.selects-mega-1-0-0-0-0-0 {
    width: 730px;
    height: 129px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-elements_inputfield_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-path-3 {
    width: 729.9999999999994px;
    height: 41px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.selects-mega-combined-label-6 {
    width: 730px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-description-1 {
    width: 730px;
    flex-grow: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-left-value-1 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 47px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-3 {
    width: 243.5928143712574px;
    flex-grow: 1;
    position: absolute;
    top: 68px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-2 {
    width: 202.9239766081874px;
    flex-grow: 1;
    position: absolute;
    top: 47px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 48px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-2-t {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 88px;
    left: 107px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-t {
    width: 42px;
    flex-grow: 1;
    position: absolute;
    top: 88px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-path-1 {
    width: 20px;
    height: 20px;
    flex-grow: 1;
    position: absolute;
    top: 109px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.selects-mega-icons_actions_default-15 {
    flex-grow: 1;
    position: absolute;
    top: 67px;
    left: 699px;
    display: flex;
    flex-direction: column;
}

.selects-mega-1-0-1 {
    display: flex;
}

.selects-mega-1-0-1-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-1-0-1-0-0 {
    display: flex;
}

.selects-mega-1-0-1-0-0-0 {
    width: 730px;
    height: 41px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-path-11 {
    width: 729.9999999999994px;
    height: 41.00000000000001px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.selects-mega-combined-label-8 {
    width: 730px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-description-13 {
    width: 730px;
    flex-grow: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-0-2 {
    display: flex;
}

.selects-mega-1-0-2-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-1-0-2-0-0 {
    display: flex;
}

.selects-mega-1-0-2-0-0-0 {
    width: 730px;
    height: 70px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-elements_inputfield_default-13 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-left-value-10 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-8 {
    width: 243.5928143712574px;
    flex-grow: 1;
    position: absolute;
    top: 28px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-1 {
    width: 202.9239766081874px;
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-5 {
    flex-grow: 1;
    position: absolute;
    top: 8px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-2-ta {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 48px;
    left: 107px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-ta {
    width: 42px;
    flex-grow: 1;
    position: absolute;
    top: 48px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-157 {
    flex-grow: 1;
    position: absolute;
    top: 27px;
    left: 699px;
    display: flex;
    flex-direction: column;
}

.selects-mega-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 43px;
    padding-top: 110px;
}

.selects-mega-1-1-0 {
    display: flex;
    padding-right: 710px;
}

.selects-mega-path-5 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.selects-mega-1-1-1 {
    display: flex;
}

.selects-mega-1-1-1-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-1-1-1-0-0 {
    display: flex;
}

.selects-mega-1-1-1-0-0-0 {
    width: 730px;
    height: 110px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-elements_inputfield_default-16 {
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-path-6 {
    width: 729.9999999999995px;
    height: 41.00000000000001px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.selects-mega-combined-label-1 {
    width: 730px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-description-12 {
    width: 730px;
    flex-grow: 1;
    position: absolute;
    top: 20px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-left-value-6 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 47px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-33 {
    width: 243.59281437125742px;
    flex-grow: 1;
    position: absolute;
    top: 68px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-13 {
    width: 202.92397660818733px;
    flex-grow: 1;
    position: absolute;
    top: 47px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-2 {
    flex-grow: 1;
    position: absolute;
    top: 48px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-2-tag {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 88px;
    left: 107px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-tag {
    width: 42px;
    flex-grow: 1;
    position: absolute;
    top: 88px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-3 {
    flex-grow: 1;
    position: absolute;
    top: 67px;
    left: 699px;
    display: flex;
    flex-direction: column;
}

.selects-mega-2 {
    display: flex;
    padding-left: 17px;
    padding-right: 17px;
}

.selects-mega-2-0 {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.selects-mega-2-0-0 {
    display: flex;
}

.selects-mega-path-150 {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.selects-mega-2-0-0-0-0 {
    display: flex;
}

.selects-mega-2-0-0-0-0-0 {
    width: 730px;
    height: 277px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-elements_inputfield_default-8 {
    flex-grow: 1;
    position: absolute;
    top: 207px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-elements_inputfield_default-2 {
    flex-grow: 1;
    position: absolute;
    top: 138px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-path-17 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 2px;
    background: rgb(234, 237, 237);
    border: 1px solid #AAB7B8;
}

.selects-mega-2-0-0-0-0-0-2-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 34.999999999999886px;
}

.selects-mega-icons_actions_default-34 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 3px;
    flex-shrink: 0;
}

.selects-mega-2-0-0-0-0-0-2-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.selects-mega-2-0-0-0-0-0-2-0-1-0 {
    display: flex;
}

.selects-mega-left-value-3 {
    width: 405.9880239520958px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-0-0-0-0-0-2-0-1-1 {
    display: flex;
    margin-top: 4px;
    padding-right: 162.39520958083835px;
}

.selects-mega-sub-item-value-333 {
    width: 243.59281437125742px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-0-0-0-0-0-2-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 33.087999439716896px;
    padding-bottom: 19px;
}

.selects-mega-2-0-0-0-0-0-2-0-2-0 {
    display: flex;
}

.selects-mega-right-value-8 {
    width: 202.92397660818733px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-0-0-0-0-0-2-1 {
    display: flex;
    margin-top: 5px;
    padding-left: 51px;
    padding-right: 568.9999999999999px;
}

.selects-mega-1-tag-7 {
    width: 42px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-1 {
    width: 53px;
    flex-shrink: 0;
    margin-left: 13px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-path-15 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    top: 69px;
    left: 0px;
    border-radius: 2px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.selects-mega-2-0-0-0-0-0-3-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 34.999999999999886px;
}

.selects-mega-icons_actions_default-9 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 3px;
    flex-shrink: 0;
}

.selects-mega-2-0-0-0-0-0-3-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.selects-mega-2-0-0-0-0-0-3-0-1-0 {
    display: flex;
}

.selects-mega-left-value-5 {
    width: 405.9880239520958px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-0-0-0-0-0-3-0-1-1 {
    display: flex;
    margin-top: 4px;
    padding-right: 162.39520958083835px;
}

.selects-mega-sub-item-value-6 {
    width: 243.59281437125742px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-0-0-0-0-0-3-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 33.087999439716896px;
    padding-bottom: 19px;
}

.selects-mega-2-0-0-0-0-0-3-0-2-0 {
    display: flex;
}

.selects-mega-right-value-6 {
    width: 202.92397660818733px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-0-0-0-0-0-3-1 {
    display: flex;
    margin-top: 5px;
    padding-left: 51px;
    padding-right: 67.99999999999989px;
}

.selects-mega-2-0-0-0-0-0-3-1-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-2-0-0-0-0-0-3-1-0-0 {
    display: flex;
}

.selects-mega-2-0-0-0-0-0-3-1-0-0-0 {
    width: 609px;
    height: 15px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-2-tag-17 {
    width: 554px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 55px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-tag-1 {
    width: 274px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-left-value-7 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 144px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-left-value-16 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 214px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-60 {
    width: 243.5928143712574px;
    flex-grow: 1;
    position: absolute;
    top: 164px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-1 {
    width: 243.5928143712574px;
    flex-grow: 1;
    position: absolute;
    top: 235px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-7 {
    width: 202.9239766081874px;
    flex-grow: 1;
    position: absolute;
    top: 214px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-17 {
    width: 202.9239766081874px;
    flex-grow: 1;
    position: absolute;
    top: 145px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-15 {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 184px;
    left: 107px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-4 {
    flex-grow: 1;
    position: absolute;
    top: 146px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-icons_actions_default-38 {
    flex-grow: 1;
    position: absolute;
    top: 215px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-1-tag-5 {
    width: 43px;
    flex-grow: 1;
    position: absolute;
    top: 184px;
    left: 52px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-8 {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 255px;
    left: 107px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-tag-16 {
    width: 42px;
    flex-grow: 1;
    position: absolute;
    top: 255px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-path-10 {
    display: flex;
    flex-direction: column;
    margin-left: 43px;
    padding-top: 5px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.selects-mega-2-1-0 {
    display: flex;
    padding-left: 7px;
    padding-right: 15px;
}

.selects-mega-icons_actions_default-14 {
    display: flex;
    flex-direction: column;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-shrink: 0;
}

.selects-mega-filter-9 {
    width: 609px;
    flex-shrink: 0;
    margin-left: 29px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-clear-filter-1 {
    display: flex;
    flex-direction: column;
    margin-left: 38px;
    padding-top: 2px;
    padding-bottom: 2px;
    flex-shrink: 0;
}

.selects-mega-2-1-1 {
    display: flex;
    margin-top: 5px;
}

.selects-mega-2-1-1-0 {
    display: flex;
    flex-direction: column;
}

.selects-mega-2-1-1-0-0 {
    display: flex;
}

.selects-mega-2-1-1-0-0-0 {
    width: 730px;
    height: 277px;
    flex-shrink: 0;
    position: relative;
}

.selects-mega-elements_inputfield_default-3 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-path-174 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    top: 138px;
    left: 0px;
    border-radius: 2px;
    background: rgb(245, 252, 255);
    border: 1px solid #007DBC;
}

.selects-mega-2-1-1-0-0-0-1-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 35px;
}

.selects-mega-icons_actions_default-42 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 3px;
    flex-shrink: 0;
}

.selects-mega-2-1-1-0-0-0-1-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.selects-mega-2-1-1-0-0-0-1-0-1-0 {
    display: flex;
}

.selects-mega-left-value-15 {
    width: 405.9880239520958px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-1-1-0-0-0-1-0-1-1 {
    display: flex;
    margin-top: 4px;
    padding-right: 162.39520958083835px;
}

.selects-mega-sub-item-value-10 {
    width: 243.59281437125742px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-1-1-0-0-0-1-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 33.087999439716896px;
    padding-bottom: 19px;
}

.selects-mega-2-1-1-0-0-0-1-0-2-0 {
    display: flex;
}

.selects-mega-right-value-89 {
    width: 202.92397660818733px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-1-1-0-0-0-1-1 {
    display: flex;
    margin-top: 5px;
    padding-left: 51px;
    padding-right: 569px;
}

.selects-mega-1-tag-6 {
    width: 42px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-2 {
    width: 53px;
    flex-shrink: 0;
    margin-left: 13px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-elements_inputfield_default-12 {
    flex-grow: 1;
    position: absolute;
    top: 69px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.selects-mega-path-112 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    top: 207px;
    left: 0px;
    border-radius: 2px;
    background: rgb(234, 237, 237);
    border: 1px solid #AAB7B8;
}

.selects-mega-2-1-1-0-0-0-3-0 {
    display: flex;
    padding-left: 9px;
    padding-right: 35px;
}

.selects-mega-icons_actions_default-151 {
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-bottom: 3px;
    flex-shrink: 0;
}

.selects-mega-2-1-1-0-0-0-3-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.selects-mega-2-1-1-0-0-0-3-0-1-0 {
    display: flex;
}

.selects-mega-left-value-12 {
    width: 405.9880239520958px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-1-1-0-0-0-3-0-1-1 {
    display: flex;
    margin-top: 4px;
    padding-right: 162.39520958083835px;
}

.selects-mega-sub-item-value-17 {
    width: 243.59281437125742px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-1-1-0-0-0-3-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 33.087999439716896px;
    padding-bottom: 19px;
}

.selects-mega-2-1-1-0-0-0-3-0-2-0 {
    display: flex;
}

.selects-mega-right-value-135 {
    width: 202.92397660818733px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-1-1-0-0-0-3-1 {
    display: flex;
    margin-top: 5px;
    padding-left: 51px;
    padding-right: 569px;
}

.selects-mega-1-tag-166 {
    width: 42px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-178 {
    width: 53px;
    flex-shrink: 0;
    margin-left: 13px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-left-value-158 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 75px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-left-value-9 {
    width: 405.9880239520958px;
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-13 {
    width: 243.59281437125742px;
    flex-grow: 1;
    position: absolute;
    top: 95px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-sub-item-value-5 {
    width: 243.59281437125742px;
    flex-grow: 1;
    position: absolute;
    top: 28px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-15 {
    width: 202.92397660818733px;
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-right-value-14 {
    width: 202.92397660818733px;
    flex-grow: 1;
    position: absolute;
    top: 76px;
    left: 491.07602339181267px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-176 {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 115px;
    left: 107px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-icons_actions_default-58 {
    flex-grow: 1;
    position: absolute;
    top: 8px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-icons_actions_default-344 {
    flex-grow: 1;
    position: absolute;
    top: 77px;
    left: 10px;
    display: flex;
    flex-direction: column;
}

.selects-mega-1-tag-3 {
    width: 43px;
    flex-grow: 1;
    position: absolute;
    top: 115px;
    left: 52px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-2-tag-10 {
    width: 53px;
    flex-grow: 1;
    position: absolute;
    top: 48px;
    left: 107px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.selects-mega-1-tag-11 {
    width: 42px;
    flex-grow: 1;
    position: absolute;
    top: 48px;
    left: 52px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}