.service-page-1440px-service-page-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
    min-height: 100vh;
}

.service-page-1440px-0 {
    display: flex;
}

.service-page-1440px-path-34 {
    display: flex;
    flex-direction: column;
    background: rgb(242, 243, 243);
}

.service-page-1440px-0-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0 {
    width: 1440px;
    height: 1897px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-path-57 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 46px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(35, 47, 62);
}

.service-page-1440px-0-0-0-0-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-0-0-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-0-0-0-0-0 {
    width: 1440px;
    height: 64px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-page_global-nav-3 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-path-1 {
    width: 316px;
    height: 45px;
    flex-grow: 1;
    position: absolute;
    top: 19px;
    left: 858px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-0-1 {
    display: flex;
    padding-left: 266px;
    padding-right: 266px;
}

.service-page-1440px-0-0-0-0-0-1-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-0-1-0-0 {
    display: flex;
    padding-right: 2.0380047505937px;
}

.service-page-1440px-category-1 {
    width: 569.9619952494063px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-0-1-0-1 {
    display: flex;
    margin-top: 27px;
}

.service-page-1440px-0-0-0-0-0-1-0-1-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-0-1-0-1-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-0-1-0-1-0-0-0 {
    width: 572px;
    height: 117px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-service-name-9 {
    width: 572px;
    flex-grow: 1;
    position: absolute;
    top: 37px;
    left: 0px;
    font-family: Lato-Light;
    color: #000000;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-service-name-3 {
    width: 569.9619952494063px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-0-1-0-2 {
    display: flex;
    margin-top: 13px;
    padding-right: 2.0380047505937px;
}

.service-page-1440px-long-description-2 {
    width: 569.9619952494063px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-0-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding-bottom: 6px;
}

.service-page-1440px-0-0-0-0-0-1-1-0 {
    display: flex;
}

.service-page-1440px-path-3 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 9.935197493164196px;
}

.service-page-1440px-header-1 {
    width: 286.0648025068358px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-1 {
    display: flex;
    margin-top: 10px;
    padding-left: 19.75px;
    padding-right: 20.737500000000182px;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-1-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-1-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-1-0-0-0 {
    width: 275.5124999999998px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-combined-label-1 {
    width: 275.51250000000005px;
    flex-grow: 1;
    position: absolute;
    top: 10px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-12 {
    width: 20.037272727272693px;
    height: 20px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-2 {
    display: flex;
    margin-top: 6px;
    padding-left: 19.75px;
    padding-right: 20.737500000000182px;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-2-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-2-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-2-0-0-0 {
    width: 275.5124999999998px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-elements_inputfield_default-6 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-field-value-5 {
    width: 242.20415076335894px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-icons_actions_default-4 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 249.51249999999982px;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-3 {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 193px;
}

.service-page-1440px-path-11 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(236, 114, 17);
}

.service-page-1440px-0-0-0-0-0-1-1-0-0-3-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.service-page-1440px-6 {
    width: 61px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-0-1-1-1 {
    display: flex;
}

.service-page-1440px-path-5 {
    width: 316px;
    height: 25px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-15 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 397px;
    left: 266px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-1-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 19.99999999999909px;
}

.service-page-1440px-path-8 {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 56.00000000000108px;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-1-0-0-0 {
    display: flex;
    padding-left: 145px;
    padding-right: 145.00000000000045px;
}

.service-page-1440px-x-2 {
    width: 242px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 396px;
    line-height: 451px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-13 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 16.000000000001137px;
    position: absolute;
    top: 1516px;
    left: 266px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-2-0 {
    display: flex;
    padding-right: 2.2737367544323206e-13px;
}

.service-page-1440px-path-7 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1440px-0-0-0-0-2-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 18.839590443685665px;
}

.service-page-1440px-header-9 {
    width: 533.1604095563139px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-2-1 {
    display: flex;
    margin-top: 11px;
    padding-left: 20px;
    padding-right: 13.333333333333258px;
}

.service-page-1440px-0-0-0-0-2-1-0 {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    padding-bottom: 2px;
}

.service-page-1440px-0-0-0-0-2-1-0-0 {
    display: flex;
}

.service-page-1440px-feature-label-8 {
    width: 256.8252631578948px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-2-1-0-1 {
    display: flex;
    margin-top: 20px;
}

.service-page-1440px-feature-label-9 {
    width: 256.8252631578948px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-4 {
    width: 1px;
    height: 271px;
    flex-shrink: 0;
    margin-left: 9.830292397660742px;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-2-1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 14.185847953216125px;
    padding-top: 9px;
    padding-bottom: 142px;
}

.service-page-1440px-0-0-0-0-2-1-2-0 {
    display: flex;
}

.service-page-1440px-feature-label-1 {
    width: 256.8252631578948px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-575 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 24.000000000000114px;
    position: absolute;
    top: 920px;
    left: 266px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-3-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 20.001106504666723px;
}

.service-page-1440px-0-0-0-0-3-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.service-page-1440px-0-0-0-0-3-0-0-0 {
    display: flex;
}

.service-page-1440px-feature-label-11 {
    width: 248.68259385665533px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-3-0-0-1 {
    display: flex;
    margin-top: 20px;
}

.service-page-1440px-feature-label-83 {
    width: 248.68259385665533px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-3-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 16.345458948625037px;
    padding-bottom: 0.27599999999802094px;
}

.service-page-1440px-0-0-0-0-3-0-1-0 {
    display: flex;
}

.service-page-1440px-path-17 {
    width: 1px;
    height: 264.724000000002px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-3-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 17.288745326967273px;
    padding-top: 5px;
}

.service-page-1440px-0-0-0-0-3-0-2-0 {
    display: flex;
}

.service-page-1440px-feature-label-12 {
    width: 248.6820953630854px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-3-0-2-1 {
    display: flex;
    margin-top: 20px;
}

.service-page-1440px-feature-label-125 {
    width: 248.6820953630854px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-118 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 14.721854304633098px;
    position: absolute;
    top: 1300px;
    left: 266px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-4-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 20.001106504666723px;
}

.service-page-1440px-0-0-0-0-4-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 11.27814569536713px;
}

.service-page-1440px-0-0-0-0-4-0-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-4-0-0-0-0 {
    width: 248.68259385665533px;
    height: 140px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-feature-label-3 {
    width: 248.68259385665522px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-awsui_icons_actions_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 124px;
    left: 91.8458631219687px;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-path-10 {
    width: 1px;
    height: 156.27814569536713px;
    flex-shrink: 0;
    margin-left: 16.345458948625037px;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-4-0-2 {
    display: flex;
    flex-direction: column;
    margin-left: 17.288745326967273px;
    padding-top: 5px;
    padding-bottom: 11.27814569536713px;
}

.service-page-1440px-0-0-0-0-4-0-2-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-4-0-2-0-0 {
    width: 248.6820953630854px;
    height: 140px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-feature-label-13 {
    width: 248.6820953630854px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-awsui_icons_actions_default-14 {
    flex-grow: 1;
    position: absolute;
    top: 123px;
    left: 91.12592475302336px;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-path-90 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 16px;
    position: absolute;
    top: 275px;
    left: 858px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-5-0 {
    display: flex;
}

.service-page-1440px-path-33 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1440px-0-0-0-0-5-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.102389078498163px;
}

.service-page-1440px-header-14 {
    width: 285.89761092150184px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-5-0-0-1 {
    display: flex;
    margin-top: 19px;
}

.service-page-1440px-path-16 {
    width: 316px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-5-1 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 159.6078431372548px;
}

.service-page-1440px-mysql-1 {
    width: 136.3921568627452px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-5-2 {
    display: flex;
    padding-left: 20px;
    padding-right: 257.7698569460158px;
}

.service-page-1440px-path-112 {
    width: 38.23014305398419px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-5-3 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.215686274509608px;
}

.service-page-1440px-path-9 {
    width: 272.7843137254904px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-5-4 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 159.6078431372548px;
}

.service-page-1440px-mysql-16 {
    width: 136.3921568627452px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-5-5 {
    display: flex;
    padding-left: 20px;
    padding-right: 257.7698569460158px;
}

.service-page-1440px-path-18 {
    width: 38.23014305398419px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-5-6 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.215686274509608px;
}

.service-page-1440px-path-135 {
    width: 272.7843137254904px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-5-7 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 159.6078431372548px;
}

.service-page-1440px-mysql-14 {
    width: 136.3921568627452px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-5-8 {
    display: flex;
    padding-left: 20px;
    padding-right: 254.55786681166956px;
}

.service-page-1440px-path-1181 {
    width: 41.442133188330445px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-5-9 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.426557649542701px;
}

.service-page-1440px-path-1127 {
    width: 285.5734423504573px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-5-10 {
    display: flex;
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 177px;
}

.service-page-1440px-0-0-0-0-5-10-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1440px-0-0-0-0-5-10-0-0 {
    display: flex;
}

.service-page-1440px-0-0-0-0-5-10-0-0-0 {
    width: 119px;
    height: 20px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1440px-cost_calculator-4 {
    width: 117.23921568627475px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-icons_actions_default-8 {
    flex-grow: 1;
    position: absolute;
    top: 2px;
    left: 103px;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-path-14 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 18px;
    position: absolute;
    top: 745px;
    left: 858px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-6-0 {
    display: flex;
}

.service-page-1440px-path-93 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1440px-0-0-0-0-6-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.102389078498163px;
}

.service-page-1440px-header-148 {
    width: 285.89761092150184px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-6-0-0-1 {
    display: flex;
    margin-top: 19px;
}

.service-page-1440px-path-131 {
    width: 316px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-6-1 {
    display: flex;
    padding-left: 20px;
    padding-right: 257.6013176201732px;
}

.service-page-1440px-path-176 {
    width: 38.39868237982682px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-6-2 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-documentation-3 {
    width: 272.47501382998325px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-6-3 {
    display: flex;
    padding-left: 20px;
    padding-right: 257.6013176201732px;
}

.service-page-1440px-path-107 {
    width: 38.39868237982682px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-6-4 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-path-114 {
    width: 272.47501382998325px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-6-5 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-api_reference-1 {
    width: 272.47501382998325px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-6-6 {
    display: flex;
    padding-left: 20px;
    padding-right: 257.6013176201732px;
}

.service-page-1440px-path-6 {
    width: 38.39868237982682px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-6-7 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-path-100 {
    width: 272.47501382998325px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-6-8 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-faqs-5 {
    width: 272.47501382998325px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-6-9 {
    display: flex;
    padding-left: 20px;
    padding-right: 257.6013176201732px;
}

.service-page-1440px-path-337 {
    width: 38.39868237982682px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-0-0-0-0-6-10 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-path-91 {
    width: 272.47501382998325px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-6-11 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 23.524986170016746px;
}

.service-page-1440px-support_forums-1 {
    width: 272.47501382998325px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-123 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 13px;
    padding-bottom: 1828px;
    position: absolute;
    top: 40px;
    left: 0px;
    box-shadow: 0px 0px 2px 0px rgba(30,56,48,0.25);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-7-0 {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.service-page-1440px-icons_actions_default-7 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.service-page-1440px-path-154 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 20.000000000000114px;
    position: absolute;
    top: 540px;
    left: 858px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1440px-0-0-0-0-8-0 {
    display: flex;
}

.service-page-1440px-path-53 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1440px-0-0-0-0-8-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.102389078498163px;
}

.service-page-1440px-header-3 {
    width: 285.89761092150184px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-0-0-0-0-8-0-0-1 {
    display: flex;
    margin-top: 19px;
}

.service-page-1440px-path-43 {
    width: 316px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1440px-0-0-0-0-8-1 {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20.067796610169353px;
}

.service-page-1440px-body-4 {
    width: 275.93220338983065px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-use_cases-9 {
    width: 570.184126984127px;
    flex-grow: 1;
    position: absolute;
    top: 1249px;
    left: 266px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-benefits_and_feature-7 {
    width: 570.184126984127px;
    flex-grow: 1;
    position: absolute;
    top: 869px;
    left: 266px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-how_it_works-2 {
    width: 570.1841269841268px;
    flex-grow: 1;
    position: absolute;
    top: 347px;
    left: 266px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-142 {
    width: 571.9999999999995px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 849px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-119 {
    width: 571.9999999999995px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 1491px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-105 {
    width: 571.9999999999995px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 1229px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-2 {
    width: 571.9999999999989px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 327px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-30 {
    width: 316px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 720px;
    left: 858px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-22 {
    width: 316px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 515px;
    left: 858px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-97 {
    width: 20px;
    height: 381px;
    flex-grow: 1;
    position: absolute;
    top: 1516px;
    left: 818px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-151 {
    width: 20px;
    height: 381px;
    flex-grow: 1;
    position: absolute;
    top: 1516px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-71 {
    width: 20px;
    height: 309.0000000000001px;
    flex-grow: 1;
    position: absolute;
    top: 919px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-335 {
    width: 20px;
    height: 309.0000000000001px;
    flex-grow: 1;
    position: absolute;
    top: 919px;
    left: 818px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-70 {
    width: 20px;
    height: 171px;
    flex-grow: 1;
    position: absolute;
    top: 1299px;
    left: 266px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-path-62 {
    width: 20px;
    height: 171px;
    flex-grow: 1;
    position: absolute;
    top: 1299px;
    left: 818px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1440px-_0 {
    width: 122.6139718772115px;
    flex-grow: 1;
    position: absolute;
    top: 392px;
    left: 1150.7301430539842px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-_0_ {
    width: 122.6139718772115px;
    flex-grow: 1;
    position: absolute;
    top: 348px;
    left: 1150.7301430539842px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-_0_2 {
    width: 122.6139718772115px;
    flex-grow: 1;
    position: absolute;
    top: 436px;
    left: 1150.7301430539842px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1440px-path-67 {
    width: 571.9999999999995px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 1575px;
    left: 266px;
    background: rgb(234, 237, 237);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}