.service-page-1024px-service-page-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: #FFFFFF;
    min-height: 100vh;
}

.service-page-1024px-0 {
    display: flex;
}

.service-page-1024px-path-163 {
    display: flex;
    flex-direction: column;
    padding-bottom: 7.275957614183426e-12px;
    background: rgb(242, 243, 243);
}

.service-page-1024px-0-0-0 {
    display: flex;
}

.service-page-1024px-0-0-0-0 {
    width: 1024px;
    height: 1896.9999999999927px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1024px-path-10 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 28.00000000000051px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgb(35, 47, 62);
}

.service-page-1024px-0-0-0-0-0-0 {
    display: flex;
}

.service-page-1024px-0-0-0-0-0-0-0 {
    width: 1024px;
    height: 288px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1024px-path-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 77px;
    left: 644px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-0-0-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.069456918747164px;
}

.service-page-1024px-header-7 {
    width: 289.93054308125284px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-0-0-0-0-1 {
    display: flex;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 21px;
}

.service-page-1024px-0-0-0-0-0-0-0-0-1-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1024px-0-0-0-0-0-0-0-0-1-0-0 {
    display: flex;
}

.service-page-1024px-0-0-0-0-0-0-0-0-1-0-0-0 {
    width: 279px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1024px-combined-label-3 {
    width: 279px;
    flex-grow: 1;
    position: absolute;
    top: 10px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-9 {
    width: 20.29090909090911px;
    height: 20px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-0-0-0-0-2 {
    display: flex;
    margin-top: 6px;
    padding-left: 20px;
    padding-right: 21px;
}

.service-page-1024px-0-0-0-0-0-0-0-0-2-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1024px-0-0-0-0-0-0-0-0-2-0-0 {
    display: flex;
}

.service-page-1024px-0-0-0-0-0-0-0-0-2-0-0-0 {
    width: 279px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1024px-elements_inputfield_default-5 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.service-page-1024px-field-value-9 {
    width: 245.3854961832062px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-icons_actions_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 7px;
    left: 253px;
    display: flex;
    flex-direction: column;
}

.service-page-1024px-0-0-0-0-0-0-0-0-3 {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 197px;
}

.service-page-1024px-path-99 {
    display: flex;
    flex-direction: column;
    padding-top: 6px;
    padding-bottom: 7px;
    border-radius: 2px;
    background: rgb(236, 114, 17);
}

.service-page-1024px-0-0-0-0-0-0-0-0-3-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 22px;
}

.service-page-1024px-6 {
    width: 61px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-page_global-nav-1 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.service-page-1024px-service-name-1 {
    width: 494.9999999999999px;
    flex-grow: 1;
    position: absolute;
    top: 150px;
    left: 80px;
    font-family: Lato-Light;
    color: #000000;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-long-description-3 {
    width: 493.3663366336633px;
    flex-grow: 1;
    position: absolute;
    top: 243px;
    left: 80px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-service-name-12 {
    width: 493.3663366336633px;
    flex-grow: 1;
    position: absolute;
    top: 113px;
    left: 80px;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 36px;
    line-height: 41px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-2 {
    width: 320px;
    height: 45px;
    flex-grow: 1;
    position: absolute;
    top: 32px;
    left: 644px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-category-1 {
    width: 493.3663366336633px;
    flex-grow: 1;
    position: absolute;
    top: 66px;
    left: 80px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-1 {
    width: 319.9999999999998px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 263px;
    left: 644px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-12 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 386px;
    left: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-1-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 19.99999999999949px;
}

.service-page-1024px-path-92 {
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    padding-bottom: 56.00000000000108px;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-1-0-0-0 {
    display: flex;
    padding-left: 106.5px;
    padding-right: 106.50000000000023px;
}

.service-page-1024px-x-1 {
    width: 242px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 396px;
    line-height: 451px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-61 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 16.000000000001137px;
    position: absolute;
    top: 1505px;
    left: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-2-0 {
    display: flex;
    padding-right: 3.410605131648481e-13px;
}

.service-page-1024px-path-18 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1024px-0-0-0-0-2-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 16.211604095562564px;
}

.service-page-1024px-header-9 {
    width: 458.78839590443704px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-2-1 {
    display: flex;
    margin-top: 11px;
    padding-left: 20px;
    padding-right: 9.999999999999886px;
}

.service-page-1024px-0-0-0-0-2-1-0 {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    padding-bottom: 122px;
}

.service-page-1024px-0-0-0-0-2-1-0-0 {
    display: flex;
}

.service-page-1024px-feature-label-1 {
    width: 221px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-11 {
    width: 1px;
    height: 271px;
    flex-shrink: 0;
    margin-left: 7px;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-2-1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    padding-top: 9px;
    padding-bottom: 122px;
}

.service-page-1024px-0-0-0-0-2-1-2-0 {
    display: flex;
}

.service-page-1024px-feature-label-5 {
    width: 221px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-156 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 24.275999999998135px;
    position: absolute;
    top: 909px;
    left: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-3-0 {
    display: flex;
    padding-left: 246.5915841584158px;
    padding-right: 247.4084158415841px;
}

.service-page-1024px-path-15 {
    width: 1px;
    height: 264.724000000002px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-path-13 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 14.721854304633098px;
    position: absolute;
    top: 1289px;
    left: 80px;
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-4-0 {
    display: flex;
    padding-left: 246.5915841584158px;
    padding-right: 247.4084158415841px;
}

.service-page-1024px-path-14 {
    width: 1px;
    height: 156.27814569536713px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-path-16 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 23.000000000000114px;
    position: absolute;
    top: 288px;
    left: 644px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-5-0 {
    display: flex;
    padding-right: -2.2737367544323206e-13px;
}

.service-page-1024px-path-8 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1024px-0-0-0-0-5-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.23890784982882px;
}

.service-page-1024px-header-3 {
    width: 289.76109215017095px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-5-0-0-1 {
    display: flex;
    margin-top: 19px;
    padding-right: -2.2737367544323206e-13px;
}

.service-page-1024px-path-17 {
    width: 320px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-5-1 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.52941176470563px;
}

.service-page-1024px-path-94 {
    width: 276.47058823529414px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-5-2 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 161.76470588235247px;
}

.service-page-1024px-mysql-2 {
    width: 138.2352941176473px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-5-3 {
    display: flex;
    padding-left: 20px;
    padding-right: 258.0270854104351px;
}

.service-page-1024px-path-151 {
    width: 41.97291458956465px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-5-4 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.52941176470563px;
}

.service-page-1024px-path-23 {
    width: 276.47058823529414px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-5-5 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 161.76470588235247px;
}

.service-page-1024px-mysql-8 {
    width: 138.2352941176473px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-5-6 {
    display: flex;
    padding-left: 20px;
    padding-right: 258.0270854104351px;
}

.service-page-1024px-path-21 {
    width: 41.97291458956465px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-5-7 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.52941176470563px;
}

.service-page-1024px-path-3 {
    width: 276.47058823529414px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-5-8 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 161.76470588235247px;
}

.service-page-1024px-mysql-1 {
    width: 138.2352941176473px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-5-9 {
    display: flex;
    padding-left: 20px;
    padding-right: 254.71367205511478px;
}

.service-page-1024px-path-159 {
    width: 45.28632794488499px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-5-10 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.567457077239169px;
}

.service-page-1024px-path-7 {
    width: 289.4325429227606px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-5-11 {
    display: flex;
    margin-top: 12px;
    padding-left: 20px;
    padding-right: 180.99999999999977px;
}

.service-page-1024px-0-0-0-0-5-11-0 {
    display: flex;
    flex-direction: column;
}

.service-page-1024px-0-0-0-0-5-11-0-0 {
    display: flex;
}

.service-page-1024px-0-0-0-0-5-11-0-0-0 {
    width: 119px;
    height: 20px;
    flex-shrink: 0;
    position: relative;
}

.service-page-1024px-cost_calculator-1 {
    width: 118.8235294117649px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-icons_actions_default-16 {
    flex-grow: 1;
    position: absolute;
    top: 2px;
    left: 103px;
    display: flex;
    flex-direction: column;
}

.service-page-1024px-path-174 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 18px;
    position: absolute;
    top: 766px;
    left: 644px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-6-0 {
    display: flex;
    padding-right: -2.2737367544323206e-13px;
}

.service-page-1024px-path-107 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1024px-0-0-0-0-6-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.23890784982882px;
}

.service-page-1024px-header-1 {
    width: 289.76109215017095px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-6-0-0-1 {
    display: flex;
    margin-top: 19px;
    padding-right: -2.2737367544323206e-13px;
}

.service-page-1024px-path-146 {
    width: 320px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-6-1 {
    display: flex;
    padding-left: 20px;
    padding-right: 258.0270854104349px;
}

.service-page-1024px-path-80 {
    width: 41.97291458956488px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-6-2 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-documentation-1 {
    width: 276.15710861146954px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-6-3 {
    display: flex;
    padding-left: 20px;
    padding-right: 258.0270854104349px;
}

.service-page-1024px-path-126 {
    width: 41.97291458956488px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-6-4 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-path-73 {
    width: 276.15710861146954px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-6-5 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-api_reference-7 {
    width: 276.15710861146954px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-6-6 {
    display: flex;
    padding-left: 20px;
    padding-right: 258.0270854104349px;
}

.service-page-1024px-path-27 {
    width: 41.97291458956488px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-6-7 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-path-141 {
    width: 276.15710861146954px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-6-8 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-faqs-7 {
    width: 276.15710861146954px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-6-9 {
    display: flex;
    padding-left: 20px;
    padding-right: 258.0270854104349px;
}

.service-page-1024px-path-167 {
    width: 41.97291458956488px;
    height: 10px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-0-0-0-0-6-10 {
    display: flex;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-path-63 {
    width: 276.15710861146954px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-6-11 {
    display: flex;
    margin-top: 13px;
    padding-left: 20px;
    padding-right: 23.842891388530234px;
}

.service-page-1024px-support_forums-7 {
    width: 276.15710861146954px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-104 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 13px;
    padding-bottom: 1827.999999999996px;
    position: absolute;
    top: 40px;
    left: 0px;
    box-shadow: 0px 0px 2px 0px rgba(30,56,48,0.25);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-7-0 {
    display: flex;
    padding-left: 12px;
    padding-right: 12px;
}

.service-page-1024px-icons_actions_default-10 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.service-page-1024px-path-32 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 20.000000000000114px;
    position: absolute;
    top: 561px;
    left: 644px;
    box-shadow: 0px 1px 4px 1px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.service-page-1024px-0-0-0-0-8-0 {
    display: flex;
    padding-right: -2.2737367544323206e-13px;
}

.service-page-1024px-path-118 {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    background: rgb(250, 250, 250);
}

.service-page-1024px-0-0-0-0-8-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.23890784982882px;
}

.service-page-1024px-header-13 {
    width: 289.76109215017095px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-0-0-0-0-8-0-0-1 {
    display: flex;
    margin-top: 19px;
    padding-right: -2.2737367544323206e-13px;
}

.service-page-1024px-path-172 {
    width: 320px;
    height: 1px;
    flex-shrink: 0;
    background: rgb(234, 237, 237);
}

.service-page-1024px-0-0-0-0-8-1 {
    display: flex;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20.33898305084699px;
}

.service-page-1024px-body-1 {
    width: 279.6610169491528px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-12 {
    width: 213.99317406143348px;
    flex-grow: 1;
    position: absolute;
    top: 1314px;
    left: 341.00682593856664px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-13 {
    width: 213.99317406143336px;
    flex-grow: 1;
    position: absolute;
    top: 1314px;
    left: 100px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-6 {
    width: 213.99317406143348px;
    flex-grow: 1;
    position: absolute;
    top: 1074px;
    left: 341.00682593856664px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-52 {
    width: 213.99317406143348px;
    flex-grow: 1;
    position: absolute;
    top: 934px;
    left: 341.00682593856664px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-68 {
    width: 213.99317406143336px;
    flex-grow: 1;
    position: absolute;
    top: 1074px;
    left: 100px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-10 {
    width: 213.99317406143336px;
    flex-grow: 1;
    position: absolute;
    top: 934px;
    left: 100px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-feature-label-2 {
    width: 221px;
    flex-grow: 1;
    position: absolute;
    top: 1725px;
    left: 100px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-use_cases-1 {
    width: 493.4285714285714px;
    flex-grow: 1;
    position: absolute;
    top: 1238px;
    left: 80px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-benefits_and_feature-1 {
    width: 493.4285714285714px;
    flex-grow: 1;
    position: absolute;
    top: 858px;
    left: 80px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-how_it_works-1 {
    width: 493.4285714285713px;
    flex-grow: 1;
    position: absolute;
    top: 336px;
    left: 80px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-5 {
    width: 494.9999999999996px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 1480px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-37 {
    width: 494.9999999999996px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 838px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-138 {
    width: 494.9999999999996px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 1218px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-152 {
    width: 494.9999999999991px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 316px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-36 {
    width: 319.9999999999998px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 536px;
    left: 644px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-139 {
    width: 319.9999999999998px;
    height: 25px;
    flex-grow: 1;
    position: absolute;
    top: 741px;
    left: 644px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-72 {
    width: 20px;
    height: 384.00000000000114px;
    flex-grow: 1;
    position: absolute;
    top: 1505px;
    left: 555px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-20 {
    width: 20px;
    height: 384.00000000000114px;
    flex-grow: 1;
    position: absolute;
    top: 1505px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-82 {
    width: 20px;
    height: 309.0000000000001px;
    flex-grow: 1;
    position: absolute;
    top: 908px;
    left: 555px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-179 {
    width: 20px;
    height: 309.0000000000001px;
    flex-grow: 1;
    position: absolute;
    top: 908px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-184 {
    width: 20px;
    height: 171px;
    flex-grow: 1;
    position: absolute;
    top: 1288px;
    left: 80px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-path-1418 {
    width: 20px;
    height: 171px;
    flex-grow: 1;
    position: absolute;
    top: 1288px;
    left: 555px;
    background: rgba(80, 227, 194, 0);
}

.service-page-1024px-_0 {
    width: 83.52708541043512px;
    flex-grow: 1;
    position: absolute;
    top: 406px;
    left: 940.4729145895649px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-_0_ {
    width: 83.52708541043512px;
    flex-grow: 1;
    position: absolute;
    top: 362px;
    left: 940.4729145895649px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-_0_2 {
    width: 83.52708541043512px;
    flex-grow: 1;
    position: absolute;
    top: 450px;
    left: 940.4729145895649px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.service-page-1024px-path-158 {
    width: 494.9999999999996px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 1564px;
    left: 80px;
    background: rgb(234, 237, 237);
}

.service-page-1024px-awsui_icons_actions_default-7 {
    flex-grow: 1;
    position: absolute;
    top: 1438px;
    left: 177.9180887372013px;
    display: flex;
    flex-direction: column;
}

.service-page-1024px-awsui_icons_actions_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 1437px;
    left: 419.4215017064846px;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}