.tabs-tabs-6 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 14px;
    padding-bottom: 16px;
    background: #FFFFFF;
    min-height: 100vh;
}

.tabs-0 {
    display: flex;
    padding-left: 11px;
    padding-right: 44.99999999999909px;
}

.tabs-0-0 {
    display: flex;
    flex-direction: column;
    padding-top: 14px;
}

.tabs-0-0-0 {
    display: flex;
}

.tabs-0-0-0-0 {
    width: 465.030487804878px;
    height: 182px;
    flex-shrink: 0;
    position: relative;
}

.tabs-path-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 43px;
    position: absolute;
    top: 31px;
    left: 143px;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-0-0-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 9.006097560975604px;
}

.tabs-0-0-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.tabs-0-0-0-0-0-0-0-0 {
    display: flex;
}

.tabs-path-3 {
    width: 1px;
    height: 15px;
    flex-shrink: 0;
    background: rgb(135, 149, 150);
}

.tabs-2 {
    width: 112px;
    flex-shrink: 0;
    margin-left: 20px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-36 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 43px;
    position: absolute;
    top: 31px;
    left: 307px;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-0-0-0-1-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 5.030487804878021px;
}

.tabs-0-0-0-0-1-0-0 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.tabs-0-0-0-0-1-0-0-0 {
    display: flex;
}

.tabs-path-17 {
    width: 1px;
    height: 15px;
    flex-shrink: 0;
    background: rgb(135, 149, 150);
}

.tabs-20 {
    width: 112px;
    flex-shrink: 0;
    margin-left: 20px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-8 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 43px;
    position: absolute;
    top: 31px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-0-0-0-2-0 {
    display: flex;
    padding-left: 24px;
    padding-right: 7.000000000000114px;
}

.tabs-20_ {
    width: 112px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-7 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 43px;
    position: absolute;
    top: 99px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-0-0-0-3-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 11.000000000000114px;
}

.tabs-20_0 {
    width: 112px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-use_tabs_like_you_wo-6 {
    width: 275px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 81px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-6 {
    width: 123.0000000000003px;
    height: 3px;
    flex-grow: 1;
    position: absolute;
    top: 91px;
    left: 184px;
    background: rgb(0, 0, 0);
}

.tabs-path-11 {
    width: 123.0000000000002px;
    height: 3px;
    flex-grow: 1;
    position: absolute;
    top: 159px;
    left: 20px;
    background: rgb(0, 0, 0);
}

.tabs-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 56.96951219512198px;
    padding-bottom: 8px;
}

.tabs-0-1-0 {
    display: flex;
}

.tabs-0-1-0-0 {
    width: 487.0000000000009px;
    height: 188px;
    flex-shrink: 0;
    position: relative;
}

.tabs-path-366 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 64px;
    padding-bottom: 84px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
    background: rgb(255, 255, 255);
}

.tabs-0-1-0-0-0-0 {
    display: flex;
    padding-left: 30px;
    padding-right: 75.00000000000068px;
}

.tabs-body-text-1 {
    width: 382px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-4 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.30);
    background: rgb(250, 250, 250);
}

.tabs-0-1-0-0-1-0 {
    display: flex;
    padding-right: 26.000000000000796px;
}

.tabs-path-18 {
    width: 138.99999999999977px;
    height: 44px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-1-0-0-1-0-1 {
    display: flex;
    flex-direction: column;
    margin-left: 2.2737367544323206e-13px;
}

.tabs-0-1-0-0-1-0-1-0 {
    display: flex;
}

.tabs-0-1-0-0-1-0-1-0-0 {
    width: 322px;
    height: 44px;
    flex-shrink: 0;
    position: relative;
}

.tabs-path-16 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 18px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-1-0-0-1-0-1-0-0-0-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 10.006097560975604px;
}

.tabs-0-1-0-0-1-0-1-0-0-0-0-0 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.tabs-0-1-0-0-1-0-1-0-0-0-0-0-0 {
    display: flex;
}

.tabs-path-15 {
    width: 1px;
    height: 15px;
    flex-shrink: 0;
    background: rgb(135, 149, 150);
}

.tabs-6 {
    width: 112px;
    flex-shrink: 0;
    margin-left: 19px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-80 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 6px;
    padding-bottom: 18px;
    position: absolute;
    top: 0px;
    left: 163px;
    background: rgba(80, 227, 194, 0);
}

.tabs-0-1-0-0-1-0-1-0-0-1-0 {
    display: flex;
    padding-left: 20px;
    padding-right: 7px;
}

.tabs-0-1-0-0-1-0-1-0-0-1-0-0 {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
}

.tabs-0-1-0-0-1-0-1-0-0-1-0-0-0 {
    display: flex;
}

.tabs-path-153 {
    width: 1px;
    height: 15px;
    flex-shrink: 0;
    background: rgb(135, 149, 150);
}

.tabs-6_ {
    width: 112px;
    flex-shrink: 0;
    margin-left: 19px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.tabs-path-13 {
    width: 122.00000000000034px;
    height: 3px;
    flex-grow: 1;
    position: absolute;
    top: 41px;
    left: 41px;
    background: rgb(0, 0, 0);
}

.tabs-path-43 {
    width: 30px;
    height: 188px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 457px;
    background: rgba(80, 227, 194, 0);
}

.tabs-path-152 {
    width: 30px;
    height: 188px;
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.tabs-6_0 {
    width: 112px;
    flex-grow: 1;
    position: absolute;
    top: 12px;
    left: 20px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}