.text-fields-text-fields-1 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 21px;
    background: #FFFFFF;
    min-height: 100vh;
}

.text-fields-0 {
    display: flex;
    padding-left: 2px;
    padding-right: 282px;
}

.text-fields-path-1 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.text-fields-1 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-1-0 {
    display: flex;
    flex-direction: column;
}

.text-fields-1-0-0 {
    display: flex;
}

.text-fields-1-0-0-0 {
    width: 300px;
    height: 85px;
    flex-shrink: 0;
    position: relative;
}

.text-fields-path-16 {
    width: 300px;
    height: 45px;
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-path-3 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-1-0-0-0-1-0 {
    display: flex;
}

.text-fields-combined-label-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-1-0-0-0-1-1 {
    display: flex;
}

.text-fields-description-1 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-elements_inputfield_default-1 {
    flex-grow: 1;
    position: absolute;
    top: 40px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.text-fields-field-value-8 {
    width: 270px;
    flex-grow: 1;
    position: absolute;
    top: 45px;
    left: 10px;
    font-family: Lato-Italic;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-constraint-5 {
    width: 300px;
    flex-grow: 1;
    position: absolute;
    top: 68px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-2 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.text-fields-path-166 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.text-fields-3 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-1665 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-3-0-0 {
    display: flex;
}

.text-fields-combined-label-6 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-3-0-1 {
    display: flex;
}

.text-fields-description-4 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-4 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-17 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.text-fields-4-0-0 {
    display: flex;
}

.text-fields-4-0-0-0 {
    display: flex;
    flex-direction: column;
}

.text-fields-4-0-0-0-0 {
    display: flex;
}

.text-fields-4-0-0-0-0-0 {
    width: 300px;
    height: 30px;
    flex-shrink: 0;
    position: relative;
}

.text-fields-elements_inputfield_default-10 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.text-fields-placeholder-1 {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 12px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-4-0-1 {
    display: flex;
    margin-top: 1px;
    padding-right: 124px;
}

.text-fields-icons_actions_default-8 {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.text-fields-4-0-1-1 {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    padding-bottom: 1px;
}

.text-fields-4-0-1-1-0 {
    display: flex;
}

.text-fields-error_text_-1 {
    width: 56px;
    flex-shrink: 0;
    font-family: Lato-Bold;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-4-0-1-2 {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
    padding-bottom: 1px;
}

.text-fields-4-0-1-2-0 {
    display: flex;
}

.text-fields-error_description_-9 {
    width: 93px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-5 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.text-fields-path-10 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.text-fields-6 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-13 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-6-0-0 {
    display: flex;
}

.text-fields-combined-label-11 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-6-0-1 {
    display: flex;
}

.text-fields-description-17 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-7 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-12 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.text-fields-7-0-0 {
    display: flex;
}

.text-fields-7-0-0-0 {
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    position: relative;
}

.text-fields-elements_inputfield_default-2 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.text-fields-field-value-88 {
    width: 271px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-constraint-1 {
    width: 300px;
    flex-grow: 1;
    position: absolute;
    top: 28px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-8 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.text-fields-path-121 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.text-fields-9 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-179 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-9-0-0 {
    display: flex;
}

.text-fields-combined-label-13 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-9-0-1 {
    display: flex;
}

.text-fields-description-11 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-10 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-39 {
    display: flex;
    flex-direction: column;
    background: rgba(80, 227, 194, 0);
}

.text-fields-10-0-0 {
    display: flex;
}

.text-fields-10-0-0-0 {
    width: 300px;
    height: 45px;
    flex-shrink: 0;
    position: relative;
}

.text-fields-elements_inputfield_default-17 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.text-fields-field-value-5 {
    width: 287px;
    flex-grow: 1;
    position: absolute;
    top: 4px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-constraint-12 {
    width: 300px;
    flex-grow: 1;
    position: absolute;
    top: 28px;
    left: 0px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-11 {
    display: flex;
    margin-top: 10px;
    padding-left: 2px;
    padding-right: 282px;
}

.text-fields-path-15 {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: rgba(80, 227, 194, 0);
}

.text-fields-12 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-175 {
    display: flex;
    flex-direction: column;
    padding-bottom: 6px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-12-0-0 {
    display: flex;
}

.text-fields-combined-label-139 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-12-0-1 {
    display: flex;
}

.text-fields-description-176 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-13 {
    display: flex;
    padding-left: 2px;
    padding-right: 2px;
}

.text-fields-path-7 {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.4220779220777331px;
    background: rgba(80, 227, 194, 0);
}

.text-fields-13-0-0 {
    display: flex;
    padding-right: 4.547473508864641e-13px;
}

.text-fields-13-0-0-0 {
    display: flex;
    flex-direction: column;
}

.text-fields-13-0-0-0-0 {
    display: flex;
}

.text-fields-13-0-0-0-0-0 {
    width: 299.99999999999955px;
    height: 72.40612492245418px;
    flex-shrink: 0;
    position: relative;
}

.text-fields-elements_inputfield_default-4 {
    flex-grow: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
}

.text-fields-value-5 {
    width: 280px;
    flex-grow: 1;
    position: absolute;
    top: 5px;
    left: 10px;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

.text-fields-path-155 {
    width: 8px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 66.68198051533909px;
    left: 291.18198051533955px;
    background: rgb(170, 183, 184);
}

.text-fields-path-18 {
    width: 4px;
    height: 1px;
    flex-grow: 1;
    position: absolute;
    top: 68.26776695296667px;
    left: 294.76776695296644px;
    background: rgb(170, 183, 184);
}

.text-fields-13-0-1 {
    display: flex;
    margin-top: 0.17179715546808438px;
}

.text-fields-constraint-14 {
    width: 300px;
    flex-shrink: 0;
    font-family: Lato-Regular;
    color: #000000;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

.pd-onhover-parent >.pd-onhover {
    display: none;
}

.pd-onhover-parent:hover > * {
    display: none;
}

.pd-onhover-parent:hover > .pd-onhover {
    display: flex;
}

.pd-onactive-parent > .pd-onactive {
    display: none;
}

.pd-onactive-parent:active > * {
    display: none;
}

.pd-onactive-parent:active > .pd-onactive {
    display: flex;
}

.pd-onactive-parent.pd-onhover-parent:active > .pd-onhover {
    display: none;
}